.notify-container {
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
	max-width: 25.375rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	z-index: 6;
}

.notify {
	border-radius: 1.25rem;
	background: #252525;
	color: #fff;
	z-index: 6;
	box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.05);
	padding: 1.25rem;
	gap: 1.125rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .notify__title
	&__title {
	}
	// .notify__text
	&__text {
		color: #a7a8aa;
		font-size: 1rem;
		line-height: 125%;
	}
}
