.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 0;
	@media (min-width: $md4) {
		padding: 1.25rem;
	}
}

.fancybox__backdrop {
	background: rgba(0, 0, 0, 0.65);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.f-button.is-close-button {
	top: rem(10);
	right: rem(10);
	--f-close-button-width: #{rem(25)};
	--f-close-button-height: #{rem(25)};
	--f-close-button-svg-width: #{rem(18)};
	--f-close-button-svg-height: #{rem(18)};
	--f-close-button-svg-stroke-width: #{rem(3)};

	--f-close-button-color: #{#a7a8aa};
	--f-close-button-hover-color: #000;
	@media (min-width: $md4) {
		--f-close-button-width: #{rem(30)};
		--f-close-button-height: #{rem(30)};
		--f-close-button-svg-width: #{rem(24)};
		--f-close-button-svg-height: #{rem(24)};
		top: 1.25rem;
		right: 1.25rem;
	}
}

.popup {
	display: none;
	flex-direction: column;
	border-radius: 1.25rem;
	background: #fff;
	color: #202020;
	max-width: 26.25rem;
	width: 100%;
	padding: rem(20);
	@media (min-width: $md4) {
		padding: 2.5rem;
	}
	&__title {
		text-align: center;
	}

	&__subtitle {
		color: #63666a;
		font-size: 1rem;
		line-height: 125%;
		text-align: center;
		margin-top: 0.3125rem;
		@media (min-width: $md4) {
			margin-top: 0.625rem;
		}
	}

	&__form {
		margin-top: 1.25rem;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}
}
