.dropdown {
	position: relative;
	width: 100%;

	&.visible {
		.dropdown__button {
			border-color: $orange;
			color: #202020;
		}

		.dropdown__icon.icon-chevron-down {
			transform: rotate(180deg);
			color: $orange;
		}
	}

	&.is-selected {
		.dropdown__button {
			color: #202020;
		}
	}

	&.dropdown-top {
		.dropdown__body {
			top: auto;
			bottom: calc(100% + rem(10));
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(10);
		width: 100%;
		min-height: rem(50);
		padding: rem(15) rem(20);
		border-radius: rem(10);
		border: rem(1) solid #a7a8aa;
		background: #fff;
		color: #a7a8aa;
		font-size: 1rem;
		font-weight: 400;
		line-height: 125%;
		text-align: left;
		cursor: pointer;
		transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;

		&.selected {
			color: #202020;
		}

		&:disabled {
			background: #ddd;
			border-color: #ddd;
			color: #a7a8aa;
			opacity: 1;
			pointer-events: none;
			user-select: none;
		}
	}

	&__button-text {
		text-align: left;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		flex: 1 1 auto;
		min-width: 0;
	}

	&__icon {
		width: 1.25rem;
		height: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		font-size: 0.75rem;
		color: #a7a8aa;
		transition: transform 0.2s ease, color 0.3s ease;
	}

	&__body {
		position: absolute;
		top: calc(100% + rem(10));
		left: 0;
		right: 0;
		width: 100%;
		z-index: 10;
		border-radius: rem(20);
		background: #fff;
		box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.15);
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s ease, visibility 0.2s ease;
	}

	&.visible &__body {
		opacity: 1;
		visibility: visible;
	}

	&__list {
		display: flex;
		flex-direction: column;
		max-height: rem(200);
		overflow-y: auto;
		
	}

	&__list-item {
		cursor: pointer;
		padding: rem(10) rem(20);
		color: #202020;
		font-size: 1rem;
		font-weight: 400;
		line-height: 125%;
		background: #fff;
		transition: background-color 0.2s ease;

		@media (any-hover: hover) {
			&:hover {
				background: #f5f5f5;
			}
		}

		&.active,
		&[aria-checked="true"] {
			background: #fae7d3;
			font-weight: 500;
		}

		&[aria-disabled="true"] {
			opacity: 0.5;
			pointer-events: none;
			display: none;
		}
	}
}

.form__field._error {
	.dropdown__button {
		border-color: #ed3939;
	}
}
