.archive {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .archive__title
	&__title {
	}
	// .archive__banner
	&__banner {
		margin-top: rem(18);
		@media (min-width: $md4) {
			margin-top: rem(40);
		}
	}
	// .archive__products
	&__products {
		display: grid;
		gap: 1.25rem;
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: 2.5rem;
			grid-template-columns: repeat(auto-fill, minmax(rem(330), 1fr));
		}
	}
	// .archive__more
	&__more {
		display: flex;
		width: fit-content;
		margin-inline: auto;
		min-width: 10rem;
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			min-width: 11.25rem;
		}
	}
}

.banner {
	background-color: $black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	min-height: rem(320);
	padding: rem(20);
	border-radius: rem(20);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	position: relative;
	z-index: 1;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: rem(20);
		background: rgba(32, 32, 32, 0.9);
		@media (min-width: $md4) {
			background: linear-gradient(90deg, #202020 30.77%, rgba(32, 32, 32, 0) 100%);
		}
	}
	@media (min-width: $md4) {
		padding: rem(40);
		text-align: left;
		align-items: flex-start;
		min-height: rem(200);
	}
	// .banner__title
	&__title {
	}
	// .banner__subtitle
	&__subtitle {
		color: #a7a8aa;
		font-size: 0.875rem;
		margin-top: rem(10);
		@media (min-width: $md4) {
			margin-top: rem(20);
			font-size: 1rem;
		}
	}
	&__btn {
		margin-top: 1.25rem;
	}
}
