.article {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .article__title
	&__title {
		margin-bottom: 1.25rem;
		max-width: 68rem;
		@media (min-width: $md4) {
			margin-bottom: 2.5rem;
		}
	}
	// .article__body
	&__body {
		background: #fff;
		padding: 1.25rem;
		margin-inline: -1.25rem;
		border-radius: 1.25rem;
		@media (min-width: $md5) {
			padding: 2.5rem;
			margin-inline: 0;
		}
	}
	// .article__stats
	&__stats {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		border-bottom: rem(1) solid #e2e2e2;
		gap: rem(10);
		padding-bottom: rem(10);
		@media (min-width: $md4) {
			gap: 1.25rem;
			padding-bottom: 1.25rem;
		}
	}
	// .article__time
	&__time {
		color: #a7a8aa;
		font-size: 1rem;
		line-height: 125%;
		display: flex;
		align-items: center;
		gap: 0.3125rem;
		&::before {
			font-size: 1.25rem;
			flex-shrink: 0;
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .article__category
	&__category {
		color: #a7a8aa;
		font-size: 1rem;
		line-height: 125%;
		display: flex;
		align-items: center;
		gap: 0.3125rem;
		&::before {
			font-size: 1.25rem;
			flex-shrink: 0;
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .article__blocks
	&__blocks {
		margin-top: rem(10);
		@media (min-width: $md4) {
			margin-top: 1.25rem;
		}
	}
	// .article__block
	&__block {
		padding-bottom: 1.25rem;
		border-bottom: rem(1) solid #e2e2e2;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;

		&:not(:last-child) {
			margin-bottom: rem(10);
			@media (min-width: $md4) {
				margin-bottom: 1.25rem;
			}
		}
		@media (min-width: $md2) {
			align-items: center;
			flex-direction: row;
			&:nth-child(even) {
				.article__block-image {
					order: -1;
				}
			}
		}
	}
	// .article__block-text
	&__block-text {
		flex: 1 1 auto;
		padding: rem(10) 0;
		@media (min-width: $md4) {
			padding: 1.25rem 0;
		}
	}
	// .article__block-image
	&__block-image {
		border-radius: 1.25rem;
		overflow: hidden;
		@media (min-width: $md2) {
			align-self: flex-start;
			flex: 0 0 34.375rem;
		}
	}
	// .article__footer
	&__footer {
		margin-top: 1.25rem;
	}
	// .article__footer-caption
	&__footer-caption {
	}
	// .article__tags
	&__tags {
		margin-top: rem(20);
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
	}
}

.typography-block {
	& p {
		&:not(:first-child) {
			margin-top: 0.75rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
		line-height: 125%;
		font-size: 1rem;
	}

	& img {
		width: fit-content;
		&:not(:first-child) {
			margin-top: 1rem;
		}
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	& ul {
		line-height: 150%;
		font-size: 1rem;
		& li {
			padding-left: 1.25em;
			position: relative;
			&:has(h4) {
				padding-left: 0;
				&::before {
					display: none;
				}
				&::after {
					display: none;
				}
				& h4 {
					position: relative;
					padding-left: 1.25em;
					&:not(:last-child) {
						margin-bottom: rem(8);
					}
					&::before {
						content: "";
						position: absolute;
						top: rem(5);
						left: 0;
						width: rem(12);
						height: rem(12);
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Ccircle cx='6' cy='6' r='5.5' stroke='%23D21E44'/%3E%3Ccircle cx='5.9999' cy='6.00039' r='3.6' fill='%23D21E44'/%3E%3C/svg%3E");
					}
				}
				& p {
					&:not(:first-child) {
						margin-top: rem(8);
					}
				}
				& p,
				& ul {
					font-size: 1rem;
				}
			}
			&::before {
				content: "";
				position: absolute;
				top: rem(7);
				left: 0;
				width: 0.625rem;
				height: 0.625rem;
				border-radius: 50%;
				background: $orange;
			}

			&:not(:last-child) {
				margin-bottom: 0.4rem;
			}
		}
	}

	& a {
		&:not([class]) {
			color: $orange;
			transition: color 0.2s ease;
			font-weight: 500;
			&:hover {
				color: darken($orange, 10%);
			}
		}
	}

	& strong,
	& b {
		font-weight: 700;
		color: inherit;
	}

	& em,
	& i {
		font-style: italic;
		color: inherit;
	}

	& hr {
		border: none;
		border-top: 1px solid #ccc;
		margin: 2rem 0;
	}

	& blockquote {
		margin: 1.5rem 0;
		padding-left: 1.5rem;
		border-left: rem(4) solid #70c700;
		font-style: italic;
		color: #555;
		& p {
			margin: 0;
			font-size: 0.875rem;
			@media (min-width: $md4) {
				font-size: 1rem;
			}
			@media (min-width: $md2) {
				font-size: 1.125rem;
			}
		}
	}
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		text-transform: uppercase;
		& a {
			text-decoration: none;
			color: inherit;
			display: inline-flex;
			gap: 1rem;
			align-items: center;
			&::before {
				order: 1;
				color: $orange;
				transition: transform 0.3s ease;
			}
			@media (any-hover: hover) {
				&:hover {
					color: $orange;
					&::before {
						transform: translateX(0.5rem);
					}
				}
			}
		}
	}

	& h1 {
		&:not(:last-child) {
			margin-bottom: 0.75rem;
			@media (min-width: $md4) {
				margin-bottom: 1rem;
			}
		}
		@extend .title-xxl;
	}

	& h2 {
		@extend .title;
		&:not(:first-child) {
			margin-top: 0.75rem;
			@media (min-width: $md4) {
				margin-top: 1.5rem;
			}
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
			@media (min-width: $md4) {
				margin-bottom: 1.5rem;
			}
		}
	}

	& h3 {
		&:not(:first-child) {
			margin-top: 1rem;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		@extend .title-md;
	}

	& h4 {
		&:not(:first-child) {
			margin-top: 1rem;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		@extend .title-sm;
	}

	& h5,
	& h6 {
		&:not(:first-child) {
			margin-top: 1rem;
		}
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
		@extend .title-xs;
	}

	& ol {
		font-size: 1.125rem;
		line-height: 150%;
		padding-left: 1.5rem;
		list-style: decimal;
		& li {
			& h4 {
				& ~ * {
					margin-left: -1.25rem;
				}
				&:not(:last-child) {
					margin-bottom: rem(8);
				}
			}
			&:has(h4) {
				& p {
					&:not(:first-child) {
						margin-top: rem(8);
					}
				}
				& p,
				& ul {
					font-size: 1rem;
				}
			}
			&::marker {
				color: $orange;
				font-weight: 500;
			}
			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
	}
}

.tag {
	color: #ea7600;
	border-radius: 6.1875rem;
	background: #fae7d3;
	font-size: 1rem;
	font-weight: 500;
	line-height: 125%;
	padding: 0.3125rem 0.625rem;
	transition: all 0.3s ease;
	@media (any-hover: hover) {
		&:hover {
			background: #ea7600;
			color: #fff;
		}
	}
}
