.news {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .news__container
	&__container {
	}
	// .news__title
	&__title {
	}
	// .news__slider
	&__slider {
		position: relative;
		.swiper {
			overflow: visible;
		}
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
		}
	}
	// .news__controls
	&__controls {
	}
	// .news__prev
	&__prev {
	}
	// .news__next
	&__next {
	}
	// .news__pagination
	&__pagination {
	}
	// .news__btn
	&__btn {
		display: flex;
		margin-inline: auto;
		width: fit-content;
		margin-top: 1rem;
		min-width: rem(160);
		@media (min-width: $md4) {
			min-width: rem(180);
			margin-top: rem(40);
		}
	}
}

.news-card {
	border-radius: 1.25rem;
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 1.25rem;

	&.swiper-slide {
		height: auto;
	}
	// .news-card__poster
	&__poster {
		border-radius: 1.25rem;
		overflow: hidden;
		height: 10.3125rem;
		@media (min-width: $md4) {
			height: 15rem;
		}
		& img {
			transition: transform 0.3s ease-out;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.25);
				}
			}
		}
	}
	// .news-card__time
	&__time {
		color: #a7a8aa;
		line-height: 125%;
		display: flex;
		align-items: center;
		gap: 0.3125rem;
		margin-top: 0.625rem;
		font-size: 0.75rem;
		@media (min-width: $md4) {
			font-size: 0.875rem;
			margin-top: 1.25rem;
		}
		&::before {
			width: 0.9375rem;
			height: 0.9375rem;
			font-size: 0.9375rem;
			@media (min-width: $md4) {
				font-size: 1.125rem;
				width: 1.125rem;
				height: 1.125rem;
			}
		}
	}
	// .news-card__title
	&__title {
		transition: color 0.3s ease;
		margin-top: 0.625rem;
		@media (min-width: $md4) {
			margin-top: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orange;
			}
		}
	}
	// .news-card__description
	&__description {
		margin-top: 0.625rem;
		overflow: hidden;
		color: #63666a;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-line-clamp: 3;
		line-height: 125%;
		margin-bottom: auto;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
	}
	// .news-card__more
	&__more {
		margin-top: 0.625rem;
		@media (min-width: $md4) {
			margin-top: 1.25rem;
		}
	}
}

.blog {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .blog__title
	&__title {
	}
	// .blog__title
	&__list {
		margin-top: rem(40);
		display: grid;
		gap: rem(20);
		@media (min-width: $md5) {
			grid-template-columns: repeat(auto-fill, minmax(rem(330), 1fr));
		}
	}
	// .blog__more
	&__more {
		display: flex;
		width: fit-content;
		margin-inline: auto;
		min-width: 10rem;
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			min-width: 11.25rem;
		}
	}

	// .blog__filters
	&__filters {
		background: #fff;
		padding: rem(20);

		margin-top: rem(20);
		margin-inline: rem(-20);
		@media (min-width: $md5) {
			margin-top: 2.5rem;
			border-radius: 1.25rem;
		}
		@media (min-width: $md4) {
			padding: 2.5rem;
		}
	}
	// .blog__sort
	&__sort {
		border-bottom: rem(1) solid #e2e2e2;
		padding-bottom: 1.25rem;
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	// .blog__tags
	&__tags {
	}
	// .blog__tags-title
	&__tags-title {
	}
	// .blog__tags-list
	&__tags-list {
		margin-top: 1.25rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.625rem;
	}
	// .blog__tag
	&__tag {
		font-size: 1rem;
		padding: 0.3125rem 0.625rem;
		font-weight: 500;
		line-height: 125%;
		border-radius: 6.1875rem;
		background: #efefef;
		transition: all 0.3s ease;
		display: inline-flex;
		align-items: center;
		gap: 0.3125rem;
		&.active {
			background: #ea7600;
			color: #fff;
			&::before {
				@extend %ic, .icon-cross;
				width: 1.25rem;
				height: 1.25rem;
				font-size: 1.25rem;
				order: 1;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #ea7600;
				background: #fae7d3;
			}
		}
	}
}
