.compare {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}

	&__title {
		margin-bottom: rem(20);
		@media (min-width: $md4) {
			margin-bottom: rem(40);
		}
	}

	&__body {
		background: #fff;
		padding: rem(20);
		border-radius: rem(20);
	}

	&__products {
		display: none;
		@media (min-width: $md3) {
			display: grid;
			grid-template-columns: rem(200) repeat(5, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: rem(250) repeat(5, 1fr);
		}
	}

	&__product-card {
		grid-column: span 1;
		&:first-child {
			grid-column-start: 2;
		}
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(20) 0;
	}

	&__product-img {
		aspect-ratio: math.div(178, 190);
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			width: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__product-name {
		margin-top: rem(10);
		font-family: $font-russo;
		line-height: 125%;
		font-size: 0.875rem;
		margin-bottom: auto;
		@media (min-width: $md2) {
			font-size: 1rem;
		}
	}

	&__product-link {
		margin-top: rem(10);
	}

	&__row {
		display: grid;
		align-items: center;
		color: #202020;
		font-size: 1rem;
		line-height: 125%;
		padding: 1.25rem 0;
		@media (min-width: $md3) {
			grid-template-columns: rem(200) 1fr;
		}
		@media (min-width: $md2) {
			grid-template-columns: rem(250) 1fr;
		}

		&:nth-child(odd) {
			background-color: #f9f9f9;
		}

		@media (max-width: $md3) {
			display: block;
			background: none !important;
			padding: 0;
			padding-bottom: 1.25rem;
			border-bottom: rem(1) solid #efefef;
			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
		}
	}

	&__label {
		padding-left: rem(10);
		color: #63666a;
		font-size: 1rem;
		line-height: 125%;

		@media (max-width: $md3) {
			padding: 0;
			color: #202020;
			font-family: $font-russo;
			font-size: 1rem;
			line-height: 125%;
			text-transform: uppercase;
			margin-bottom: rem(10);
		}
	}

	&__values {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		text-align: center;

		@media (max-width: $md3) {
			display: block;
			text-align: left;
		}
	}

	&__val {
		font-size: 1rem;
		font-weight: 500;
		.icon-check {
			color: #ea7600;
			width: 1.5625rem;
			height: 1.5625rem;
			font-size: 1.5625rem;
		}

		@media (max-width: $md3) {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			margin-bottom: rem(10);
			font-weight: 400;
			color: #63666a;

			&::before {
				content: attr(data-name);
				flex-shrink: 0;
			}

			&::after {
				content: "";
				flex-grow: 1;
				border-bottom: 1px dotted #a7a8aa;
				margin: 0 1.25rem;
				order: 0;
			}

			span {
				order: 1;
				font-weight: 500;
				color: #202020;
			}
		}
		@media (max-width: $md5) {
			font-size: 0.875rem;
			&::after {
				margin: 0 0.5rem;
			}
		}
	}

	&__more-btn {
		display: none;
		@media (max-width: $md3) {
			display: flex;
			width: fit-content;
			margin-inline: auto;
			min-width: 10rem;
			margin-top: 1.25rem;
		}
	}
}

.marketing {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}

	// .marketing__title
	&__title {
	}
	// .marketing__list
	&__list {
		display: grid;
		gap: 1.25rem;
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: 2.5rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .marketing__card
	&__card {
		border-radius: 1.25rem;
		background: #fff;
		padding: 1.25rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .marketing__card-time
	&__card-time {
		display: flex;
		align-items: center;
		overflow: hidden;
		color: #a7a8aa;
		font-size: 0.875rem;
		line-height: 125%;
		gap: 0.3125rem;
		&::before {
			width: 1.125rem;
			height: 1.125rem;
			flex-shrink: 0;
			font-size: 1.125rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .marketing__card-name
	&__card-name {
		font-family: $font-russo;
		font-size: 1rem;
		line-height: 125%;
		text-transform: uppercase;
		margin-top: 1.25rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $orange;
			}
		}
	}
	// .marketing__card-category
	&__card-category {
		margin-top: rem(10);
		color: #63666a;
		font-size: 1rem;
		line-height: 125%;
		margin-bottom: auto;
	}
	// .marketing__card-more
	&__card-more {
		margin-top: 1.25rem;
	}

	// .marketing__more
	&__more {
		display: flex;
		width: fit-content;
		margin-inline: auto;
		min-width: 10rem;
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			min-width: 11.25rem;
		}
	}
}

.tags {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}

	// .tags__title
	&__title {
	}
	// .tags__items
	&__items {
		background: #fff;
		border-radius: rem(10);
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
		margin-top: rem(20);
		padding: rem(20);
		@media (min-width: $md4) {
			padding: 2.5rem;
			margin-top: 2.5rem;
		}
	}
}

.product-details {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}

	// .product-details__banner
	&__banner {
		margin-top: rem(40);
	}
	// .product-details__blocks
	&__blocks {
		margin-top: 2.5rem;
	}
	// .product-details__block
	&__block {
		background: #fff;
		padding: 1.25rem;
		margin-inline: -1.25rem;
		.product-stats {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}
		@media (min-width: $md5) {
			border-radius: 1.25rem;
			padding: 2.5rem;
			margin-inline: 0;
		}
		&:not(:last-child) {
			margin-bottom: 1.25rem;
			@media (min-width: $md5) {
				margin-bottom: 2.5rem;
			}
		}
		.marketing__list {
			margin-top: 0;
		}
		.marketing__card {
			background: #f9f9f9;
		}
	}
	// .product-details__block-title
	&__block-title {
		border-bottom: rem(1) solid #efefef;
		padding-bottom: 1.25rem;
		margin-bottom: 1.25rem;
	}
	// .product-details__block-desc
	&__block-desc {
		&:has(ul.row) {
			padding-inline: 1.25rem;
		}
	}

	// .product-details__documents
	&__documents {
		display: flex;
		flex-wrap: wrap;
		gap: 1.25rem;
	}
	// .product-details__document
	&__document {
		border-radius: 0.625rem;
		background: #f9f9f9;
		display: flex;
		align-items: center;
		padding: 0.625rem;
		gap: 0.625rem;
		@media (min-width: $md4) {
			gap: 1.25rem;
			padding: 1.25rem;
		}
		&::before {
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 0.3125rem;
			background: #efefef;
			color: #a7a8aa;
			width: 2.5rem;
			height: 2.5rem;
			font-size: 1.5rem;
			@media (min-width: $md4) {
				width: 3.125rem;
				height: 3.125rem;
				font-size: 1.875rem;
			}
		}
	}
	// .product-details__document-content
	&__document-content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.62rem;
	}
	// .product-details__document-name
	&__document-name {
		font-family: $font-russo;
		font-size: 1rem;
		text-transform: uppercase;
		line-height: 125%;
	}
	// .product-details__btns
	&__btns {
		margin-top: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(15);
	}
	// .product-details__btn
	&__btn {
		min-width: 11.25rem;
	}
	// .product-details__navigation
	&__navigation {
		margin-top: 2.5rem;
	}
	// .product-details__navigation-menu
	&__navigation-menu {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
	}
	// .product-details__navigation-item
	&__navigation-item {
	}
	// .product-details__navigation-link
	&__navigation-link {
		padding: 0.625rem 0.9375rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 125%;
		border-radius: 0.625rem;
		color: #63666a;
		background: #ecf2f3;
		display: block;
		transition: all 0.3s ease;
		&.icon-right {
			&::before {
				display: none;
			}
			@media (min-width: $md2) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				background: transparent;
				color: #202020;
				padding: 0;
				border-radius: 0;
				&::before {
					order: 1;
					width: 1.25rem;
					height: 1.25rem;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #a7a8aa;
				}
			}
			@media (any-hover: hover) {
				&:hover {
					background: transparent;
					color: $orange;
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background: #00778b;
				color: #fff;
			}
		}
	}
}

.product-details {
	// .product-details__header
	&__header {
		background: #fff;
		display: grid;
		align-items: center;
		gap: 1.25rem;
		margin-inline: -1.25rem;
		padding: rem(15);
		@media (min-width: $md5) {
			padding: 2.5rem;
			margin-inline: 0;
			border-radius: 1.25rem;
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__grid {
		margin-top: rem(40);
		display: flex;
		gap: rem(20);
		flex-direction: column-reverse;
		@media (min-width: $md2) {
			align-items: flex-start;
			flex-direction: row;

			.product-details__navigation {
				position: sticky;
				top: 8rem;
				margin-top: 0;
				flex-shrink: 0;
				flex: 0 0 rem(330);
			}
			.product-details__blocks {
				margin-top: 0;
				flex: 1 1 auto;
				min-width: 0;
				& > *:last-child {
					padding-bottom: 0;
				}
			}
			.product-details__navigation-menu {
				background: #fff;
				flex-direction: column;
				gap: 0;
				padding: rem(20);
				border-radius: rem(20);
			}
			.product-details__navigation-item {
				&:not(:last-child) {
					padding-bottom: 1.25rem;
					margin-bottom: 1.25rem;
					border-bottom: rem(1) solid #efefef;
				}
			}
			.marketing__list {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
	// .product-details__images
	&__images {
		display: flex;
		gap: 1.25rem;
		flex-direction: column-reverse;
		min-width: 0;
		max-width: 100%;
		@media (min-width: $md2) {
			align-self: start;
			flex-direction: row;
			align-items: flex-start;
		}
	}
	// .product-details__thumbs
	&__thumbs {
		@media (min-width: $md4) {
			.swiper,
			.swiper-wrapper {
				display: contents;
			}
			display: grid;
			gap: rem(10);
			grid-template-columns: repeat(auto-fill, 3.125rem);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 2.75rem);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(3, 3.125rem);
		}
	}
	// .product-details__thumb
	&__thumb {
		opacity: 0.5;
		border-radius: 0.625rem;
		overflow: hidden;
		aspect-ratio: 1;
		cursor: pointer;
		transition: opacity 0.3s ease;
		width: 3.125rem;
		@media (min-width: $md2) {
			width: 2.75rem;
		}
		@media (min-width: $md1) {
			width: 3.125rem;
		}
		&.active {
			opacity: 1;
		}
		&:hover {
			opacity: 1;
		}
	}
	// .product-details__gallery
	&__gallery {
		position: relative;
		padding: 1.47rem;
		aspect-ratio: 1;
		width: 100%;
		min-width: 0;
		max-width: 100%;
		@media (min-width: $md2) {
			width: 25rem;
			height: 25rem;
		}
		@media (min-width: $md1) {
			width: 29.375rem;
			height: 29.375rem;
		}
	}

	&__labels {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0.625rem;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		z-index: 2;
		gap: 0.3125rem;
		@media (min-width: $md4) {
			gap: rem(10);
		}
	}
	&__label {
		color: #fff;
		font-weight: 700;
		line-height: 125%;
		text-transform: uppercase;
		border-radius: 1.25rem;
		background: #00778b;
		padding: 0.4375rem 0.5625rem;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			padding: 0.625rem 0.9375rem;
			font-size: 1rem;
		}
		&.orange {
			background: #ea7600;
		}
	}
	// .product-details__slide
	&__slide {
		transition: transform 0.3s ease;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		@extend %ic, .icon-zoom;
		& img {
			border-radius: 1.25rem;
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 3.125rem;
			height: 3.125rem;
			background: rgba(99, 102, 106, 0.6);
			color: #fff;
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			font-size: 1.875rem;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.15);
				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .product-details__main
	&__main {
	}
	// .product-details__title
	&__title {
	}
	// .product-details__info
	&__info {
		margin-top: 1.25rem;
		color: #63666a;
		font-size: 1rem;
		line-height: 125%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.25rem;
	}
	&__separator {
		display: none;
		@media (min-width: $md4) {
			width: 0.4375rem;
			height: 0.4375rem;
			border-radius: 50%;
			background: currentColor;
			display: block;
		}
	}
	// .product-details__sku
	&__sku {
	}
	// .product-details__share
	&__share {
		display: flex;
		align-items: center;
		gap: 0.3125rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $orange;
			}
		}
	}
	// .product-details__price
	&__price {
		margin-top: 1.25rem;
		display: grid;
		gap: 1.25rem;
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: 1fr;
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .product-details__price-block
	&__price-block {
		border-radius: 1.25rem;
		background: #f9f9f9;
		padding: 1.25rem 0.875rem 1.25rem 1.125rem;
		display: flex;
		flex-direction: column;
		gap: 0.625rem;
	}
	// .product-details__price-caption
	&__price-caption {
		color: #63666a;
		font-size: 1rem;
		line-height: 125%;
	}
	// .product-details__price-row
	&__price-row {
		display: flex;
		flex-wrap: wrap;
		gap: rem(15);
		align-items: center;
	}
	// .product-details__price-current
	&__price-current {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 125%;
		text-transform: uppercase;
	}
	// .product-details__price-old
	&__price-old {
		color: #a7a8aa;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 125%;
		text-decoration-line: line-through;
		text-transform: uppercase;
	}
	// .product-details__price-sale
	&__price-sale {
		color: #fff;
		font-size: 1rem;
		padding: 0.3125rem 0.625rem;
		font-weight: 600;
		line-height: 125%;
		text-transform: uppercase;
		border-radius: 0.625rem;
		background: #00778b;
	}
	// .product-details__price-order
	&__price-order {
		&.more-link {
			font-weight: 600;
			font-size: 1.5rem;
			&::before {
				font-size: em(1.875, 1.5);
			}
		}
	}
	// .product-details__price-value
	&__price-value {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 125%;
		text-transform: uppercase;
	}
	// .product-details__quantity
	&__quantity {
		margin-top: 1.25rem;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.25rem;
	}
	&__actions {
		margin-top: 1.25rem;
		padding-top: 1.25rem;
		border-top: rem(1) solid #efefef;
		display: flex;
		align-items: center;
		gap: 1.25rem;
		.add-to-cart-btn {
			flex: 0 1 auto;
			min-width: 11.25rem;
			min-height: rem(45);
		}
		.favorite-btn,
		.compare-btn {
			width: 2.1875rem;
			height: 2.1875rem;
			font-size: 2.1875rem;
		}
	}
}
