.products {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .products__title
	&__title {
	}
	// .products__slider
	&__slider {
		position: relative;
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
		}
		.swiper {
			@media (max-width: $md4) {
				overflow: visible;
			}
		}
	}
	// .products__prev
	&__prev,
	&__next {
		@media (max-width: $md4) {
			display: none;
		}
	}
	// .products__next
	&__next {
	}
	// .products__next
	&__more {
		display: flex;
		width: fit-content;
		margin-inline: auto;
		min-width: 10rem;
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			min-width: 11.25rem;
		}
	}
}

.product {
	background: #fff;
	border-radius: 1.25rem;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0.625rem;
	gap: rem(10);
	@media (min-width: $md5) {
		gap: rem(15);
		padding: 1.25rem;
	}
	&.swiper-slide {
		height: auto;
		width: rem(213);
		@media (min-width: $md5) {
			width: rem(330);
		}
		@media (min-width: $md4) {
			width: 100%;
		}
	}
	&.product--small {
		padding: 0.625rem;
		gap: rem(10);
	}
	// .product__header
	&__header {
		position: relative;
	}
	&__time {
		position: absolute;
		bottom: 0;
		left: 0;
		color: #63666a;
		gap: 0.125rem;
		display: flex;
		align-items: center;
		font-size: 1rem;
		font-weight: 500;
		line-height: 125%;
		border-radius: 62.4375rem;
		background: #f9f9f9;
		backdrop-filter: blur(5px);
		padding: 0.3125rem 0.625rem;
		&::before {
			flex-shrink: 0;
			font-size: 1.25rem;
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .product__labels
	&__labels {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	&__order {
		font-family: $font-russo;
		font-size: 0.875rem;
		line-height: 125%;
		text-transform: uppercase;
		color: #fff;
		background: $orange;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		width: 1.875rem;
		height: 1.875rem;
		margin: 0.625rem;
	}
	// .product__label
	&__label {
		border-radius: 1.25rem 0;
		background: #00778b;
		color: #fff;
		font-weight: 700;
		line-height: 125%;
		text-transform: uppercase;
		font-size: 0.75rem;
		padding: 0.625rem 0.9375rem;
		.product.product--small & {
			font-size: 0.75rem;
		}
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
	}
	// .product__sku
	&__sku {
		color: #63666a;
		font-size: 0.75rem;
		line-height: 125%;
	}
	// .product__image
	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 8.4375rem;
		.product.product--archive & {
			@media (max-width: $md5) {
				height: rem(165);
			}
		}
		.product.product--small & {
			height: 8.4375rem;
		}
		@media (min-width: $md5) {
			height: 12.5rem;
		}
		& img {
			max-height: 100%;
		}
	}
	// .product__availability
	&__availability {
		color: #63666a;
		line-height: 125%;
		font-size: 0.75rem;
		.product.product--small & {
			font-size: 0.75rem;
		}
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
	}
	// .product__availability-value
	&__availability-value {
		color: #ea7600;
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 0.875rem;
		.product.product--small & {
			gap: 0.875rem;
		}
		@media (min-width: $md5) {
			gap: 0.625rem;
		}
	}
	// .product__name
	&__name {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
		.product.product--small & {
			font-size: 0.875rem;
		}
	}

	// .product__price
	&__price {
		display: flex;
		align-items: center;
		gap: 0.625rem;
		flex-wrap: wrap;
	}
	// .product__price-block
	&__price-block {
		flex: 0 0 100%;
		border-radius: 0.625rem;
		background: #f9f9f9;
		padding: 0.625rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.3125rem;
	}
	// .product__price-caption
	&__price-caption {
	}
	// .product__price-current
	&__price-current {
	}
	// .product__price-more
	&__price-more {
		&.more-link {
			font-size: 1rem;
			font-weight: 600;
		}
	}
	// .product__price-current
	&__price-current {
		font-weight: 600;
		line-height: 125%;
		font-size: 1rem;
		text-transform: uppercase;
		.product.product--small & {
			font-size: 1rem;
		}
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .product__price-old
	&__price-old {
		text-transform: uppercase;
		color: #a7a8aa;
		font-weight: 500;
		line-height: 125%;
		text-decoration-line: line-through;
		font-size: 0.875rem;
		.product.product--small & {
			font-size: 0.875rem;
		}
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .product__price-sale
	&__price-sale {
		color: #fff;
		font-weight: 600;
		line-height: 125%;
		text-transform: uppercase;
		border-radius: 0.625rem;
		background: #00778b;
		font-size: 0.745rem;
		padding: 0.125rem rem(6);
		.product.product--small & {
			font-size: 0.745rem;
			padding: 0.125rem rem(6);
		}
		@media (min-width: $md4) {
			padding: 0.3125rem 0.625rem;
			font-size: 1rem;
		}
	}
	// .product__quantity
	&__quantity {
		margin-top: auto;
		color: #a7a8aa;
		font-size: 1rem;
		line-height: 125%;
		display: flex;
		align-items: center;
		gap: 0.3125rem;
	}
	// .product__quantity-caption
	&__quantity-caption {
		.product.product--small & {
			display: none;
		}
		@media (max-width: $md4) {
			display: none;
		}
	}
	// .product__quantity-unit
	&__quantity-unit {
		.product.product--small & {
			display: none;
		}
		@media (max-width: $md4) {
			display: none;
		}
	}
	// .product__actions
	&__actions {
		display: flex;
		align-items: center;
		.product.product--small & {
			gap: 0.625rem;
		}
		gap: 0.625rem;
		@media (min-width: $md4) {
			gap: 1.25rem;
		}
	}
	// .product__btn
	&__btn {
		flex: 1 1 auto;
		.product.product--small & {
			font-size: 0.875em;
			padding: rem(10) rem(5);
		}
		font-size: 0.875em;
		padding: rem(10) rem(5);
		&.icon-arrows {
			max-width: 11.25rem;
		}
		@media (min-width: $md4) {
			padding: 0.9375rem 1.25rem;
			font-size: 1rem;
		}
	}
	// .product__action
	&__action {
	}
}
