.promotions {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	&__title {
		margin-bottom: 1.25rem;
		@media (min-width: $md4) {
			margin-bottom: 2.5rem;
		}
	}
	// .promotions__item
	&__item {
		height: auto;
		display: block;
		border-radius: rem(5);
		overflow: hidden;
		min-height: rem(400);
		& img {
			object-position: 0% center;
			@media (min-width: $md4) {
				object-position: 10% center;
			}
		}
		@media (min-width: $md4) {
			aspect-ratio: math.div(330, 205);
			min-height: 100%;
		}
	}
	// .promotions__grid
	&__grid {
		position: relative;
		@media (min-width: $md4) {
			display: grid;
			gap: rem(20);
			grid-template-columns: repeat(2, 1fr);
			.swiper,
			.swiper-wrapper {
				display: contents;
			}
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .promotions__item
	&__item {
		@media (min-width: $md4) {
			&:first-child {
				grid-column: span 2;
				grid-row: span 2;
			}
		}
	}
	// .promotions__controls
	&__controls {
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .promotions__prev
	&__prev {
	}
	// .promotions__next
	&__next {
	}
	// .promotions__pagination
	&__pagination {
	}

	// .promotions__list
	&__list {
		display: grid;
		gap: rem(20);
		@media (min-width: $md2) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .promotions__card
	&__card {
		border-radius: 1.25rem;
		background: #fff;
		padding: 1.25rem;
		display: flex;
		flex-direction: column;
	}
	// .promotions__card-poster
	&__card-poster {
		display: block;
		overflow: hidden;
		min-height: 10.3125rem;
		border-radius: 1.25rem;
		@media (min-width: $md4) {
			border-radius: 0.625rem;
		}
		& img {
			object-position: 10% center;
		}
	}
	// .promotions__card-name
	&__card-name {
		transition: color 0.3s ease;
		margin-top: 0.625rem;
		@media (min-width: $md4) {
			margin-top: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orange;
			}
		}
	}
	// .promotions__card-footer
	&__card-footer {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		margin-top: 0.625rem;
		gap: 0.625rem;
		@media (min-width: $md4) {
			gap: 1.25rem;
			margin-top: 1.25rem;
			align-items: center;
			flex-direction: row;
		}
	}
	// .promotions__card-btn
	&__card-btn {
		min-width: 10rem;
		@media (min-width: $md5) {
			min-width: 11.25rem;
		}
	}
	// .promotions__card-meta
	&__card-meta {
	}
	// .promotions__card-caption
	&__card-caption {
		color: #a7a8aa;
		line-height: 125%;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
	}
	// .promotions__card-date
	&__card-date {
		font-weight: 600;
		line-height: 125%;
		font-size: 1rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .promotions__more
	&__more {
		display: flex;
		width: fit-content;
		margin-inline: auto;
		min-width: 10rem;
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			min-width: 11.25rem;
		}
	}
}
