@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?yy41s6');
  src:  url('fonts/icons.eot?yy41s6#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?yy41s6') format('truetype'),
    url('fonts/icons.woff?yy41s6') format('woff'),
    url('fonts/icons.svg?yy41s6#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e91a";
}
.icon-grid:before {
  content: "\e919";
}
.icon-arrows:before {
  content: "\e900";
}
.icon-burger:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-compare:before {
  content: "\e905";
}
.icon-cross:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e907";
}
.icon-file:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-icon-telegram:before {
  content: "\e90a";
}
.icon-location:before {
  content: "\e90b";
}
.icon-minus:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-next:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-prev:before {
  content: "\e911";
}
.icon-right:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-share:before {
  content: "\e914";
}
.icon-skype:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e916";
}
.icon-star-circle:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
