<li class="benefit-card swiper-slide">
    <div class="benefit-card__body">
        <div class="benefit-card__icon">
            <img src="@img/icons/star.svg" alt="Иконка">
        </div>
        <div class="benefit-card__title title-sm">
            <span class="color-accent">Выгодные</span> условия для&nbsp;наших партнеров
        </div>
        <div class="benefit-card__description color-grey">Мы вынуждены отталкиваться от того, что внедрение современных методик обеспечивает актуальность благоприятных перспектив.</div>
    </div>
</li>