<li class="cart__recommendations-item">
    <div class="product-row">
        <div class="product-row__main">
            <div class="product-row__thumb">
                <img src="@img/goods/BSS-600-R.png" alt="Фото товара">
            </div>
            <div class="product-row__main-content">
                <div class="product-row__name title-xs">Воздуходувка Bort BSS-600-R</div>
                <div class="product-row__sku">арт. 1234567890</div>
            </div>
        </div>
        <div class="product-row__price product__price">
            <div class="product__price-current">14 490₽</div>
            <div class="product__price-old">14 490₽</div>
            <div class="product__price-sale">-20%</div>
        </div>
        <div class="product-row__quantity">
            <div class=" quantity-block quantity-block--small">
                <button type="button" aria-label="Уменьшить количество" class="quantity-block__down icon-minus"></button>
                <input type="number" name="quantity" autocomplete="off" class="quantity-block__input" value="1" aria-label="Выбрать количество товара">
                <button type="button" aria-label="Увеличить количество" class="quantity-block__up icon-plus"></button>
            </div>
        </div>
        <div class="product-row__total">1 444 490₽</div>
        <button type="button" class="product-row__cart btn btn-primary icon-cart"></button>
    </div>
</li>