<div class="cart__product product">
    <div class="product__header">
        <a href="product.html" class="product__image" aria-label="Перейти к товару Воздуходувка Bort BSS-600-R">
            <img src="img/goods/BSS-600-R.png" alt="Фото товара Воздуходувка Bort BSS-600-R">
        </a>
    </div>
    <div class="product__info">
        <div class="product__sku">арт. 1234567890</div>
        <a href="" class="product__name title-sm">Воздуходувка Bort BSS-600-R</a>
        <div class="product__price">
            <div class="product__price-row">
                <div class="product__price-current">14 490₽</div>
                <div class="product__price-old">14 490₽</div>
            </div>
            <div class="product__price-sale">-20%</div>
        </div>
        <div class="product__availability">
            В наличии <span class="product__availability-value">10 шт.</span>
        </div>
    </div>
    <div class="product__controls">
        <div class="product__quantity">
            <div class="quantity-block quantity-block--large-desktop">
                <button type="button" aria-label="Уменьшить количество" class="quantity-block__down icon-minus"></button>
                <input type="number" name="quantity" autocomplete="off" class="quantity-block__input" value="1" aria-label="Выбрать количество товара">
                <button type="button" aria-label="Увеличить количество" class="quantity-block__up icon-plus"></button>
            </div>
            <div class="product__quantity-total">1 449 000₽</div>
        </div>
        <div class="product__actions">
            <button type="button" class="product__btn btn btn-primary icon-cross">
                <span>Удалить</span>
            </button>
        </div>
    </div>
</div>
