<div class="news-card@@className">
    <a href="" class="news-card__poster">
        <img src="@@image" alt="@@poster">
    </a>
    <time datetime="2024-10-26" class="news-card__time icon-calendar">26.10.2024</time>
    <a href="" class="news-card__title">
        <span class="color-accent">НОВИНКА!</span> АППАРАТ ВЫСОКОГО ДАВЛЕНИЯ BORT KEX-2800!
    </a>
    <p class="news-card__description">Некоторое новостное превью, призванное заинтересовать и побудить к действию и работающее на СЕО</p>
    <a href="" class="news-card__more icon-chevron-right">Читать подробнее</a>
</div>