<div id="@@id" class="product@@className@@if(type==='small'){ product--small} product--archive">
    <div class="product__header">
        @@if(typeof order !== 'undefined') {
        <div class="product__labels">
            <div class="product__order">@@order</div>
        </div>
        }
        <a href="product.html" class="product__image" aria-label="Перейти к товару @@name">
            <img src="@@image" alt="Фото товара @@name">
        </a>
    </div>
    <div class="product__info">
        <div class="product__sku">арт. 1234567890</div>
        <a href="" class="product__name title-sm">@@name</a>
    </div>

    <div class="product__actions">
        <a href="" class="product__btn btn btn-primary icon-arrows">Аналоги</a>
        <button type="button" aria-label="Добавить @@name к сравнению" class="product__action compare-btn icon-compare"></button>
    </div>
</div>