<li class="promotions__card">
    <a href="promotion.html" class="promotions__card-poster">
        <img src="@@image" class="cover-image" alt="Постер акции">
    </a>
    <a href="promotion.html" class="promotions__card-name title-sm">@@name</a>
    <div class="promotions__card-footer">
        <a href="promotion.html" class="promotions__card-btn btn btn-primary">Подробнее</a>
        <div class="promotions__card-meta">
            <div class="promotions__card-caption">Срок акции:</div>
            <div class="promotions__card-date">1 июня - 31 июля</div>
        </div>
    </div>
</li>