<div id="@@id" class="product@@className@@if(type==='small'){ product--small}">
    <div class="product__labels">
        @@if(typeof label !== 'undefined') {
        <div class="product__label">@@label</div>
        }
        <div class="product__order">@@order</div>
    </div>
    <div class="product__header">
        <a href="product.html" class="product__image" aria-label="Перейти к товару @@name">
            <img src="@@image" alt="Фото товара @@name">
        </a>
    </div>
    <div class="product__info">
        <div class="product__sku">арт. 1234567890</div>
        <a href="" class="product__name title-sm">@@name</a>
        <div class="product__availability">
            @@if(quantity > 0) {
            В наличии <span class="product__availability-value">@@quantity шт.</span>
            }
            @@if(quantity == 0) {
            Нет в наличии
            }
        </div>
    </div>
    <div class="product__price">
        <div class="product__price-current">@@currentPrice</div>
        @@if(typeof oldPrice !== 'undefined') {
        <div class="product__price-old">@@oldPrice</div>
        }
        @@if(typeof sale !== 'undefined') {
        <div class="product__price-sale">@@sale</div>
        }
    </div>
    <div class="product__quantity">
        <div class="quantity-block@@if(type==='small'){ quantity-block--small}">
            <button type="button" aria-label="Уменьшить количество" class="quantity-block__down icon-minus"></button>
            <input type="number" name="quantity" autocomplete="off" class="quantity-block__input" value="1" aria-label="Выбрать количество товара">
            <button type="button" aria-label="Увеличить количество" class="quantity-block__up icon-plus"></button>
        </div>
    </div>
    <div class="product__actions">
        <button type="button" aria-label="В корзину" class="product__btn btn btn-primary add-to-cart-btn icon-cart"></button>
        <button type="button" aria-label="Добавить @@name в избранное" class="product__action favorite-btn icon-heart"></button>
        <button type="button" aria-label="Добавить @@name к сравнению" class="product__action compare-btn icon-compare"></button>
        <a href="#props-product-@@id" data-fancybox aria-label="Смотреть характеристики товара @@name" class="product__action setting-btn icon-gear"></a>
    </div>
    <div class="hidden">
        <div id="props-product-@@id" class="popup popup--large">
            <div class="popup__title text-left title-md">
                характеристики <span class="color-grey">@@name</span>
            </div>
            @@include('../includes/_product-stats.html')
        </div>
    </div>
</div>