<div class="review-card">
    <div class="review-card__header">
        <div class="review-card__row">
            <h3 class="review-card__name">КОНСТАНТИН САПРЫКИН</h3>
            <span class="review-card__brand">
                <img src="@img/marketplaces/wildberries.png" alt="Лого wildberries">
            </span>
        </div>
        <div class="review-card__meta">
            <span class="review-card__date">20 мая 2025</span>
            <span class="review-card__separator"></span>
            <div class="review-card__rate">

                <div class="review-card__stars">
                    <div class="icon-star"></div>
                    <div class="icon-star"></div>
                    <div class="icon-star"></div>
                    <div class="icon-star icon-star--half"></div>
                    <div class="icon-star icon-star--grey"></div>
                </div>
                <span class="review-card__rating-val">4.5/5</span>
            </div>
        </div>
    </div>
    <div class="review-card__content">
        <div class="review-card__block">
            <span class="review-card__label">Достоинства:</span>
            <p class="review-card__text">В своём стремлении улучшить пользовательский опыт мы упускаем, что представители современных социальных резервов неоднозначны и будут указаны как претенденты на роль ключевых факторов.</p>
        </div>
        <div class="review-card__block">
            <span class="review-card__label">Недостатки:</span>
            <p class="review-card__text">Курс ценных бумаг продолжает удивлять</p>
        </div>
        <div class="review-card__block">
            <span class="review-card__label">Комментарий:</span>
            <p class="review-card__text">Кстати, некоторые особенности внутренней политики представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом.</p>
        </div>
    </div>
    <button type="button" class="review-card__toggle more-link icon-right">Показать полностью</button>
</div>