<li class="sales-department__card">
    <div class="sales-department__card-name">@@name</div>
    <div class="sales-department__card-position">@@position</div>
    <ul class="sales-department__card-contacts">
        <li class="sales-department__card-contact">
            <div class="sales-department__card-label">Телефон:</div>
            <a href="tel:@@phone" class="sales-department__card-link icon-phone">@@formattedPhone</a>
        </li>
        <li class="sales-department__card-contact">
            <div class="sales-department__card-label">Электронная почта::</div>
            <a href="mailto:@@email" class="sales-department__card-link icon-envelope">@@email</a>
        </li>
        <li class="sales-department__card-contact">
            <div class="sales-department__card-label">Skype:</div>
            <a href="skype:@@skype?chat" class="sales-department__card-link icon-skype">@@skype</a>
        </li>
    </ul>
</li>