<div class="sales-card@@className">
    <a href="promotion.html" class="sales-card__poster">
        <img src="@@image" class="cover-image" alt="@@poster">
    </a>
    <a href="promotion.html" class="sales-card__title title-sm">
        <span class="color-accent">Скидка 7%</span> на измельчители
        пищевых отходов
    </a>
    <div class="sales-card__time">
        <div class="sales-card__time-caption">Срок акции:</div>
        <div class="sales-card__time-date">1 июня - 31 июля</div>
    </div>
    <a href="promotion.html" class="sales-card__btn btn btn-primary">Подробнее</a>
</div>