<!--
  COMPONENT: Nozzles Kit Diagram
  PRODUCT: BDR-2400-R
-->
<section class="brt-rich__section brt-rich__figure-wide-section">
	<div class="brt-rich__container">
		<h2 class="brt-rich__heading brt-rich__section-heading">Насадки в комплекте для идеального результата:</h2>
		<img class="brt-rich__figure-wide" src="img/bdr-2400-r/nozzle-4.jpg" alt="Схема насадок в комплекте пароочистителя BDR-2400-R: водосгон, многофункциональная насадка-адаптер, махровая салфетка, насадки для окон, пола и текстиля" width="910" height="600" loading="lazy">
	</div>
</section>
