<!--
  COMPONENT: Hero Badges
  PRODUCT: BDR-2400-R
-->
<section class="brt-rich__section brt-rich__hero-badges-section">
	<div class="brt-rich__container">
		<ul class="brt-rich-row brt-rich-row--gap-sm brt-rich__hero-badges">
			<li class="brt-rich-col-12 brt-rich-col-sm-6 brt-rich-col-lg-3">
				<div class="brt-rich__hero-badge">
					<span class="brt-rich__hero-badge-text">Регулировка мощности<br>на пистолете</span>
				</div>
			</li>
			<li class="brt-rich-col-12 brt-rich-col-sm-6 brt-rich-col-lg-3">
				<div class="brt-rich__hero-badge">
					<span class="brt-rich__hero-badge-text">Пароочиститель<br>3 в 1</span>
				</div>
			</li>
			<li class="brt-rich-col-12 brt-rich-col-sm-6 brt-rich-col-lg-3">
				<div class="brt-rich__hero-badge">
					<span class="brt-rich__hero-badge-text">До 60 минут<br>непрерывной работы</span>
				</div>
			</li>
			<li class="brt-rich-col-12 brt-rich-col-sm-6 brt-rich-col-lg-3">
				<div class="brt-rich__hero-badge brt-rich__hero-badge--filled">
					<img class="brt-rich__hero-badge-icon" src="img/badge-guarantee.png" alt="" width="43" height="43" loading="lazy">
					<span class="brt-rich__hero-badge-text">5 лет<br>гарантии</span>
				</div>
			</li>
		</ul>
	</div>
</section>
