<!--
  COMPONENT: Special Nozzles
  PRODUCT: BDR-2400-R
-->
<section class="brt-rich__section brt-rich__info-cards-section">
	<div class="brt-rich__container">
		<h2 class="brt-rich__heading brt-rich__section-heading">Насадки для специальных задач</h2>
		<div class="brt-rich-row">
			<div class="brt-rich-col-12 brt-rich-col-md-6">
				<div class="brt-rich__card brt-rich__info-card">
					<div class="brt-rich__media brt-rich__info-card-media">
						<img src="img/bdr-2400-r/nozzle-floor.jpg" alt="Насадка для удаления грязи с пола" width="443" height="200" loading="lazy">
					</div>
					<div class="brt-rich__info-card-body">
						<h3 class="brt-rich__heading brt-rich__info-card-title">Удаление грязи с пола</h3>
						<p class="brt-rich__text brt-rich__info-card-desc">Насадка для пола предназначена для удаления грязи с напольных покрытий. На насадке расположено «крепление-липучка», с помощью которого закрепляется микрофибра для пола. Насадкой и микрофиброй можно чистить полы и ковровые покрытия.</p>
					</div>
				</div>
			</div>
			<div class="brt-rich-col-12 brt-rich-col-md-6">
				<div class="brt-rich__card brt-rich__info-card">
					<div class="brt-rich__media brt-rich__info-card-media">
						<img src="img/bdr-2400-r/nozzle-2.jpg" alt="Отпаривание текстиля пароочистителем" width="446" height="200" loading="lazy">
					</div>
					<div class="brt-rich__info-card-body">
						<h3 class="brt-rich__heading brt-rich__info-card-title">Отпаривание текстиля</h3>
						<p class="brt-rich__text brt-rich__info-card-desc">Пароочиститель позволяет вертикально отпаривать одежду, текстиль, занавески или салон автомобиля.</p>
					</div>
				</div>
			</div>
			<div class="brt-rich-col-12 brt-rich-col-md-6">
				<div class="brt-rich__card brt-rich__info-card">
					<div class="brt-rich__media brt-rich__info-card-media">
						<img src="img/bdr-2400-r/nozzle-1.jpg" alt="Точечное сопло для концентрированной струи пара" width="212" height="216" loading="lazy">
					</div>
					<div class="brt-rich__info-card-body">
						<h3 class="brt-rich__heading brt-rich__info-card-title">Точечное сопло</h3>
						<p class="brt-rich__text brt-rich__info-card-desc">Создаёт концентрированную струю пара под давлением. Предназначено для удаления сильных загрязнений.</p>
					</div>
				</div>
			</div>
			<div class="brt-rich-col-12 brt-rich-col-md-6">
				<div class="brt-rich__card brt-rich__info-card">
					<div class="brt-rich__media brt-rich__info-card-media">
						<img src="img/bdr-2400-r/nozzle-3.jpg" alt="Круглая щётка-насадка для сантехники" width="212" height="216" loading="lazy">
					</div>
					<div class="brt-rich__info-card-body">
						<h3 class="brt-rich__heading brt-rich__info-card-title">Круглая щётка-насадка</h3>
						<p class="brt-rich__text brt-rich__info-card-desc">С полимерной щетиной для очистки сантехники и швов между плитками.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
