<!--
  COMPONENT: Specs Grid
  PRODUCT: BDR-2400-R
-->
<section class="brt-rich__section brt-rich__specs-grid-section">
	<div class="brt-rich__container">
		<div class="brt-rich__specs-grid">
			<div class="brt-rich-row">
				<div class="brt-rich-col-12 brt-rich-col-md-4">
					<div class="brt-rich__stat-tile brt-rich__stat-tile--with-icon">
						<img class="brt-rich__stat-tile-icon" src="img/bdr-2400-r/spec-icon-power.png" alt="" width="48" height="56" loading="lazy" aria-hidden="true">
						<div class="brt-rich__stat brt-rich__stat--left">
							<span class="brt-rich__stat-value">2 100 Вт</span>
							<span class="brt-rich__stat-label">Мощность</span>
						</div>
					</div>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-md-4">
					<div class="brt-rich__stat-tile brt-rich__stat-tile--with-icon">
						<img class="brt-rich__stat-tile-icon" src="img/bdr-2400-r/spec-icon-pressure.png" alt="" width="56" height="56" loading="lazy" aria-hidden="true">
						<div class="brt-rich__stat brt-rich__stat--left">
							<span class="brt-rich__stat-value">4 бар</span>
							<span class="brt-rich__stat-label">Давление</span>
						</div>
					</div>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-md-4">
					<div class="brt-rich__stat-tile brt-rich__stat-tile--with-icon">
						<img class="brt-rich__stat-tile-icon" src="img/bdr-2400-r/spec-icon-heating.png" alt="" width="61" height="56" loading="lazy" aria-hidden="true">
						<div class="brt-rich__stat brt-rich__stat--left">
							<span class="brt-rich__stat-value">360 сек</span>
							<span class="brt-rich__stat-label">Время нагрева</span>
						</div>
					</div>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-md-4">
					<div class="brt-rich__stat-tile brt-rich__stat-tile--with-icon">
						<img class="brt-rich__stat-tile-icon" src="img/bdr-2400-r/spec-icon-steam.png" alt="" width="60" height="54" loading="lazy" aria-hidden="true">
						<div class="brt-rich__stat brt-rich__stat--left">
							<span class="brt-rich__stat-value">45 г/мин</span>
							<span class="brt-rich__stat-label">Подача пара</span>
						</div>
					</div>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-md-4">
					<div class="brt-rich__stat-tile brt-rich__stat-tile--with-icon">
						<img class="brt-rich__stat-tile-icon" src="img/bdr-2400-r/spec-icon-boiler.png" alt="" width="54" height="50" loading="lazy" aria-hidden="true">
						<div class="brt-rich__stat brt-rich__stat--left">
							<span class="brt-rich__stat-value">1 800 мл</span>
							<span class="brt-rich__stat-label">Объём бойлера</span>
						</div>
					</div>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-md-4">
					<div class="brt-rich__stat-tile brt-rich__stat-tile--with-icon">
						<img class="brt-rich__stat-tile-icon" src="img/bdr-2400-r/spec-icon-temp.png" alt="" width="23" height="53" loading="lazy" aria-hidden="true">
						<div class="brt-rich__stat brt-rich__stat--left">
							<span class="brt-rich__stat-value">140 °C</span>
							<span class="brt-rich__stat-label">Температура пара</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
