<!--
  COMPONENT: Benefits
  SECTION: преимущества — 3 карточки с фото на оранжевом фоне
-->
<section class="brt-rich__section brt-rich__benefits-section">
	<div class="brt-rich__container">
		<div class="brt-rich-row brt-rich-row--gap-sm">
			<div class="brt-rich-col-12 brt-rich-col-md-4">
				<article class="brt-rich__benefit-card">
					<div class="brt-rich__media brt-rich__benefit-card-media">
						<img src="img/benefit-1.png" alt="Кнопка полуавтоматической очистки фильтра" width="297" height="199" loading="lazy">
					</div>
					<div class="brt-rich__benefit-card-body">
						<h3 class="brt-rich__heading brt-rich__benefit-card-title">Полуавтоматическая очистка фильтра</h3>
						<div class="brt-rich__benefit-card-desc">
							<p class="brt-rich__text">При нажатии на кнопку запускается обратная продувка фильтра – скопившаяся пыль выдувается в бак, восстанавливая эффективность всасывания. Для эффективной очистки фильтра нажмите кнопку 2–3 раза подряд.</p>
							<p class="brt-rich__text">Не требуется затыкать патрубок пылесоса</p>
						</div>
					</div>
				</article>
			</div>
			<div class="brt-rich-col-12 brt-rich-col-md-4">
				<article class="brt-rich__benefit-card">
					<div class="brt-rich__media brt-rich__benefit-card-media">
						<img src="img/benefit-2.png" alt="Встроенная розетка 2000 Вт" width="296" height="199" loading="lazy">
					</div>
					<div class="brt-rich__benefit-card-body">
						<h3 class="brt-rich__heading brt-rich__benefit-card-title">Встроенная розетка</h3>
						<div class="brt-rich__benefit-card-desc">
							<p class="brt-rich__text">Пылесос оборудован синхронизированной розеткой, в которую можно подключать электроинструменты мощностью до 2000&nbsp;Вт. При работе инструмента автоматически включается пылесос.</p>
						</div>
					</div>
				</article>
			</div>
			<div class="brt-rich-col-12 brt-rich-col-md-4">
				<article class="brt-rich__benefit-card">
					<div class="brt-rich__media brt-rich__benefit-card-media">
						<img src="img/benefit-3.png" alt="Фиксатор колёс пылесоса" width="297" height="206" loading="lazy">
					</div>
					<div class="brt-rich__benefit-card-body">
						<h3 class="brt-rich__heading brt-rich__benefit-card-title">Фиксатор колес</h3>
						<div class="brt-rich__benefit-card-desc">
							<p class="brt-rich__text">Фиксатор надёжно блокирует колёса, предотвращая самопроизвольное движение пылесоса по наклонной или неровной поверхности. Это обеспечивает устойчивость при натяжении шланга во время работы с электроинструментом.</p>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>