<!--
  COMPONENT: Application Areas
  SECTION: области применения — 4 карточки в оранжевой рамке
-->
<section class="brt-rich__section brt-rich__cards-accent-section">
	<div class="brt-rich__container">
		<h2 class="brt-rich__heading brt-rich__section-heading">Области применения:</h2>
		<div class="brt-rich__cards-accent">
			<div class="brt-rich-row brt-rich-row--gap-sm">
				<div class="brt-rich-col-12 brt-rich-col-sm-6 brt-rich-col-lg-3">
					<article class="brt-rich__cards-accent-item">
						<div class="brt-rich__media brt-rich__cards-accent-item-media">
							<img src="img/application-areas-1.jpg" alt="Подключение инструмента для работы без пыли" width="215" height="178" loading="lazy">
						</div>
						<p class="brt-rich__text brt-rich__cards-accent-item-text">Подключение инструмента<br>(работа без пыли)</p>
					</article>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-sm-6 brt-rich-col-lg-3">
					<article class="brt-rich__cards-accent-item">
						<div class="brt-rich__media brt-rich__cards-accent-item-media">
							<img src="img/application-areas-2.jpg" alt="Уборка на стройплощадке" width="215" height="178" loading="lazy">
						</div>
						<p class="brt-rich__text brt-rich__cards-accent-item-text">Уборка на стройплощадке</p>
					</article>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-sm-6 brt-rich-col-lg-3">
					<article class="brt-rich__cards-accent-item">
						<div class="brt-rich__media brt-rich__cards-accent-item-media">
							<img src="img/application-areas-3.jpg" alt="Уборка после ремонта" width="215" height="178" loading="lazy">
						</div>
						<p class="brt-rich__text brt-rich__cards-accent-item-text">Уборка после ремонта</p>
					</article>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-sm-6 brt-rich-col-lg-3">
					<article class="brt-rich__cards-accent-item">
						<div class="brt-rich__media brt-rich__cards-accent-item-media">
							<img src="img/application-areas-4.jpg" alt="Сбор жидкости" width="215" height="178" loading="lazy">
						</div>
						<p class="brt-rich__text brt-rich__cards-accent-item-text">Сбор жидкости</p>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>
