<!--
  COMPONENT: Footer Specs
  SECTION: иконки гарантии, установки и т.д.
-->
<section class="brt-rich__section">
	<div class="brt-rich__container">
		<div class="brt-rich__grid brt-rich__grid--footer-specs">
			<div class="brt-rich__footer-spec">
				@@include('partials/_icon.html', { "name": "warranty", "class": "brt-rich__footer-spec-icon" })
				<span class="brt-rich__footer-spec-label">Гарантия 5 лет</span>
			</div>
			<div class="brt-rich__footer-spec">
				@@include('partials/_icon.html', { "name": "install", "class": "brt-rich__footer-spec-icon" })
				<span class="brt-rich__footer-spec-label">Простая установка</span>
			</div>
			<div class="brt-rich__footer-spec">
				@@include('partials/_icon.html', { "name": "check", "class": "brt-rich__footer-spec-icon" })
				<span class="brt-rich__footer-spec-label">Нержавеющая сталь</span>
			</div>
			<div class="brt-rich__footer-spec">
				@@include('partials/_icon.html', { "name": "wireless", "class": "brt-rich__footer-spec-icon" })
				<span class="brt-rich__footer-spec-label">Беспроводная кнопка</span>
			</div>
			<div class="brt-rich__footer-spec">
				@@include('partials/_icon.html', { "name": "motor", "class": "brt-rich__footer-spec-icon" })
				<span class="brt-rich__footer-spec-label">Мотор PMDC</span>
			</div>
			<div class="brt-rich__footer-spec">
				@@include('partials/_icon.html', { "name": "noise", "class": "brt-rich__footer-spec-icon" })
				<span class="brt-rich__footer-spec-label">58 дБ — тихая работа</span>
			</div>
		</div>
	</div>
</section>
