<!--
  COMPONENT: Hero Card
  SECTION: карточка с заголовком, описанием, перками и фото
-->
<section class="brt-rich__section brt-rich__hero-card-section">
	<div class="brt-rich__container">
		<div class="brt-rich__hero-card">
			<div class="brt-rich__split brt-rich__split--hero">
				<div class="brt-rich__split-col brt-rich__split-col--content">
					<h1 class="brt-rich__heading brt-rich__heading--h1 brt-rich__hero-card-title">Пылесос для влажной <br>и сухой уборки</h1>
					<p class="brt-rich__hero-card-model">BSS-1630-PRO</p>
					<p class="brt-rich__hero-card-desc">Пылесос справится с водой, стружкой, опилками, кусками кирпича, бетонной крошкой, гипсом, мелом, известью <br>и слюдой</p>
					<ul class="brt-rich__hero-perks">
						<li class="brt-rich__hero-perk">
							<img class="brt-rich__hero-perk-icon" src="img/hero-perk-filter.svg" alt="" width="53" height="40" loading="lazy">
							<span class="brt-rich__hero-perk-text">Полуавтомати-<br>ческая очистка фильтра</span>
						</li>
						<li class="brt-rich__hero-perk">
							<img class="brt-rich__hero-perk-icon" src="img/hero-perk-motor.svg" alt="" width="49" height="42" loading="lazy">
							<span class="brt-rich__hero-perk-text">Мощный<br>двигатель</span>
						</li>
						<li class="brt-rich__hero-perk">
							<span class="brt-rich__hero-perk-icon-wrap">
								<img class="brt-rich__hero-perk-auto" src="img/hero-perk-auto.svg" alt="" width="35" height="10" loading="lazy">
								<img class="brt-rich__hero-perk-icon brt-rich__hero-perk-icon--sync" src="img/hero-perk-sync.svg" alt="" width="46" height="40" loading="lazy">
							</span>
							<span class="brt-rich__hero-perk-text">Синхронизация <br>с инструментом <br>и задержка <br>отключения 10 с</span>
						</li>
						<li class="brt-rich__hero-perk">
							<img class="brt-rich__hero-perk-icon" src="img/hero-perk-kit.svg" alt="" width="48" height="42" loading="lazy">
							<span class="brt-rich__hero-perk-text">Широкая комплектация</span>
						</li>
					</ul>
				</div>
				<div class="brt-rich__split-col brt-rich__split-col--media brt-rich__hero-media">
					<div class="brt-rich__hero-media-wrap">
						<img class="brt-rich__hero-media-photo" src="img/hero-main.png" alt="Пылесос Bort BSS-1630-Pro" width="547" height="452" loading="lazy">
						<div class="brt-rich__hero-media-badges" aria-hidden="true">
							<img class="brt-rich__hero-media-specs" src="img/hero-specs.svg" alt="" width="103" height="103" loading="lazy">
							<img class="brt-rich__hero-media-dust" src="img/hero-dust-class.svg" alt="" width="53" height="24" loading="lazy">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
