<!--
  COMPONENT: Hero Header
  SECTION: шапка (логотип + название товара)
-->
<header class="brt-rich__section brt-rich__hero">
	<div class="brt-rich__container">
		<div class="brt-rich-row brt-rich-row--align-center brt-rich__page-header">
			<div class="brt-rich-col-auto">
				<a class="brt-rich__logo" href="#" aria-label="Bort">
					<img src="img/logo.svg" alt="Bort" width="158" height="46" loading="lazy">
				</a>
			</div>
			<div class="brt-rich-col-grow">
				<p class="brt-rich__page-title">Пылесос для сухой и влажной уборки BORT BSS-1630-Pro</p>
			</div>
		</div>
	</div>
</header>
