<!--
  COMPONENT: Hero Badges
  SECTION: бейджи под шапкой
-->
<section class="brt-rich__section brt-rich__hero-badges-section">
	<div class="brt-rich__container">
		<ul class="brt-rich-row brt-rich-row--gap-hero-badges brt-rich__hero-badges">
			<li class="brt-rich-col-12 brt-rich-col-sm-3">
				<div class="brt-rich__hero-badge">
					<span class="brt-rich__hero-badge-text">Пылесос для влажной <br> и сухой уборки </span>
				</div>
			</li>
			<li class="brt-rich-col-12 brt-rich-col-sm-3">
				<div class="brt-rich__hero-badge">
					<span class="brt-rich__hero-badge-text">Полуавтоматическая <br> очистка фильтра </span>
				</div>
			</li>
			<li class="brt-rich-col-12 brt-rich-col-sm-3">
				<div class="brt-rich__hero-badge">
					<span class="brt-rich__hero-badge-text">ByPASS motor</span>
				</div>
			</li>
			<li class="brt-rich-col-12 brt-rich-col-sm-3">
				<div class="brt-rich__hero-badge brt-rich__hero-badge--filled">
					<img class="brt-rich__hero-badge-icon" src="img/badge-guarantee.png" alt="" width="43" height="43" loading="lazy">
					<span class="brt-rich__hero-badge-text">5 лет<br>гарантии</span>
				</div>
			</li>
		</ul>
	</div>
</section>
