<!--
  COMPONENT: Hero Card
  SECTION: карточка с заголовком, описанием, перками и фото
-->
<section class="brt-rich__section brt-rich__hero-card-section">
	<div class="brt-rich__container">
		<div class="brt-rich__hero-card">
			<div class="brt-rich-row brt-rich-row--gap-hero-card brt-rich-row--align-center">
				<div class="brt-rich-col-12 brt-rich-col-md-6">
					<h1 class="brt-rich__heading brt-rich__heading--h1 brt-rich__hero-card-title">Пылесос для влажной <br>и сухой уборки</h1>
					<p class="brt-rich__hero-card-model">BSS-1630-PRO</p>
					<p class="brt-rich__hero-card-desc">Пылесос справится с водой, стружкой, опилками, кусками кирпича, бетонной крошкой, гипсом, мелом, известью <br>и слюдой</p>
					<ul class="brt-rich-row brt-rich-row--gap-hero-perks brt-rich__hero-perks">
						<li class="brt-rich-col-6">
							<div class="brt-rich__hero-perk">
								<img class="brt-rich__hero-perk-icon" src="img/hero-perk-filter.svg" alt="" width="53" height="40" loading="lazy">
								<span class="brt-rich__hero-perk-text">Полуавтомати-<br>ческая очистка фильтра</span>
							</div>
						</li>
						<li class="brt-rich-col-6">
							<div class="brt-rich__hero-perk">
								<img class="brt-rich__hero-perk-icon" src="img/hero-perk-motor.svg" alt="" width="49" height="42" loading="lazy">
								<span class="brt-rich__hero-perk-text">Мощный<br>двигатель</span>
							</div>
						</li>
						<li class="brt-rich-col-6">
							<div class="brt-rich__hero-perk">
								<img class="brt-rich__hero-perk-icon" src="img/hero-perk-sync.svg" alt="" width="47" height="54" loading="lazy">
								<span class="brt-rich__hero-perk-text">Синхронизация <br>с инструментом <br>и задержка <br>отключения 10 с</span>
							</div>
						</li>
						<li class="brt-rich-col-6">
							<div class="brt-rich__hero-perk">
								<img class="brt-rich__hero-perk-icon" src="img/hero-perk-kit.svg" alt="" width="48" height="42" loading="lazy">
								<span class="brt-rich__hero-perk-text">Широкая комплектация</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-md-6 brt-rich__hero-media">
					<img class="brt-rich__hero-media-photo" src="img/hero-main.png" alt="Пылесос Bort BSS-1630-Pro"  >
				</div>
			</div>
		</div>
	</div>
</section>
