<!--
  COMPONENT: Product Params
  SECTION: две серые карточки + три оранжевые плашки с характеристиками
-->
<section class="brt-rich__section brt-rich__params-section">
	<div class="brt-rich__container">
		<div class="brt-rich__params">
			<div class="brt-rich-row brt-rich-row--gap-sm">
				<div class="brt-rich-col-12 brt-rich-col-md-6">
					<div class="brt-rich__card brt-rich__params-info-card">
						<h3 class="brt-rich__heading brt-rich__params-info-title">Шланг 3 м</h3>
						<p class="brt-rich__text brt-rich__params-info-text">Эта длина шланга значительно <strong>расширяет радиус действия устройства</strong>, позволяя работать не перенося постоянно пылесос, в том числе и на работах с потолком</p>
					</div>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-md-6">
					<div class="brt-rich__card brt-rich__params-info-card">
						<h3 class="brt-rich__heading brt-rich__params-info-title">Кабель 6 м</h3>
						<p class="brt-rich__text brt-rich__params-info-text">Длина кабеля в 6 метров обеспечивает большую <strong>свободу передвижения</strong> во время работы, что особенно важно при уборке больших площадей</p>
					</div>
				</div>
			</div>
			<div class="brt-rich-row brt-rich-row--gap-sm">
				<div class="brt-rich-col-12 brt-rich-col-md-4">
					<div class="brt-rich__params-stat">
						<p class="brt-rich__params-stat-label">Площадь уборки</p>
						<p class="brt-rich__params-stat-value">
							<span class="brt-rich__params-stat-prefix">до</span>
							<span class="brt-rich__params-stat-number">254</span>
							<span class="brt-rich__params-stat-unit">м<sup>2</sup></span>
						</p>
					</div>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-md-4">
					<div class="brt-rich__params-stat">
						<p class="brt-rich__params-stat-label">Вес изделия</p>
						<p class="brt-rich__params-stat-value">
							<span class="brt-rich__params-stat-number">10</span>
							<span class="brt-rich__params-stat-unit">кг</span>
						</p>
					</div>
				</div>
				<div class="brt-rich-col-12 brt-rich-col-md-4">
					<div class="brt-rich__params-stat">
						<p class="brt-rich__params-stat-label">Уровень шума</p>
						<p class="brt-rich__params-stat-value">
							<span class="brt-rich__params-stat-number">78</span>
							<span class="brt-rich__params-stat-unit">дБ</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>