<!--
  COMPONENT: Specs Panel
  SECTION: фото пылесоса + сетка характеристик
-->
<section class="brt-rich__section brt-rich__specs-panel-section">
	<div class="brt-rich__container">
		<div class="brt-rich-row brt-rich-row--align-center">
			<div class="brt-rich-col-12 brt-rich-col-md-5">
				<div class="brt-rich__specs-panel-media">
					<img class="brt-rich__specs-panel-photo" src="img/lock.png" alt="Пылесос Bort BSS-1630-Pro" width="366" height="285" loading="lazy">
				</div>
			</div>
			<div class="brt-rich-col-12 brt-rich-col-md-7">
				<h2 class="brt-rich__heading brt-rich__specs-panel-title">Характеристики:</h2>
				<div class="brt-rich-row brt-rich-row--gap-2xs">
					<div class="brt-rich-col-12 brt-rich-col-sm-6">
						<div class="brt-rich__specs-panel-stat">
							<div class="brt-rich__stat brt-rich__stat--left">
								<span class="brt-rich__stat-value">75 л/с</span>
								<span class="brt-rich__stat-label">Расход воздуха<br>на крыльчатке</span>
							</div>
						</div>
					</div>
					<div class="brt-rich-col-12 brt-rich-col-sm-6">
						<div class="brt-rich__specs-panel-stat">
							<div class="brt-rich__stat brt-rich__stat--left">
								<span class="brt-rich__stat-value">40 л/с</span>
								<span class="brt-rich__stat-label">Расход воздуха</span>
							</div>
						</div>
					</div>
					<div class="brt-rich-col-12 brt-rich-col-sm-6">
						<div class="brt-rich__specs-panel-stat">
							<div class="brt-rich__stat brt-rich__stat--left">
								<span class="brt-rich__stat-value">22 кПа</span>
								<span class="brt-rich__stat-label">Мощность<br>всасывания</span>
							</div>
						</div>
					</div>
					<div class="brt-rich-col-12 brt-rich-col-sm-6">
						<div class="brt-rich__specs-panel-stat">
							<div class="brt-rich__stat brt-rich__stat--left">
								<span class="brt-rich__stat-value">1600 Вт</span>
								<span class="brt-rich__stat-label">Потребляемая<br>мощность</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
