:root {
	--swiper-pagination-bottom: #{rem(12)};
	@media (min-width: $md4) {
		--swiper-pagination-bottom: #{rem(42)};
	}
}

// * {
// 	scroll-margin-top: 4rem;
// 	@media (min-width: $md3) {
// 		scroll-margin-top: 5rem;
// 	}
// 	@media (min-width: $md2) {
// 		scroll-margin-top: 7rem;
// 	}
// }

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	margin-right: 0 !important;
	background: #f9f9f9;

	&.open-person-menu {
		@media (max-width: $md4) {
			overflow: hidden;
		}
	}
	&.open-catalog-menu {
		@media (max-width: $md4) {
			overflow: hidden;
		}
	}
	&:has(.arrow-top.visible) {
		.notify-container {
			right: 6.5rem;
			@media (min-width: $md3) {
				right: 7.5rem;
			}
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.page {
	flex: 1 1 auto;
	overflow-x: hidden;
	padding-bottom: rem(25);
	@media (min-width: $md4) {
		background: url("@img/decor/bg-wave.svg") 0 100% / 100% auto no-repeat;
		padding-bottom: rem(50);
	}
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1.25rem;
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

// =============== MODULES ====================
@import "./modules/grid";
@import "./modules/popup";
// @import "./modules/breads";
// @import "./modules/animation";
// @import "./modules/pagination";
// =============== MODULES ====================

.benefits {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .benefits__container
	&__container {
	}
	// .benefits__title
	&__title {
	}
	// .benefits__list
	&__list {
		margin-top: 1.25rem;
		position: relative;
		.swiper {
			overflow: visible;
		}
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			display: grid;
			gap: 1.25rem;
			grid-template-columns: repeat(2, 1fr);
			.swiper,
			.swiper-wrapper {
				display: contents;
			}
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .benefits__controls
	&__controls {
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .benefits__prev
	&__prev {
	}
	// .benefits__next
	&__next {
	}
	// .benefits__pagination
	&__pagination {
	}
}

.benefit-card {
	height: auto;
	display: flex;
	flex-direction: column;
	// .benefit-card__body
	&__body {
		border-radius: 1.25rem;
		background: #fff;
		box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.05);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex: 1 1 auto;
		margin-top: rem(25);
		padding: rem(55) rem(20) rem(20);
		gap: rem(14);
		@media (min-width: $md4) {
			gap: rem(20);
			padding: rem(50) rem(20);
			margin-top: rem(32);
		}
	}
	// .benefit-card__icon
	&__icon {
		background: $orange;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.625rem;
		width: rem(50);
		height: rem(50);
		margin-top: rem(-75);
		@media (min-width: $md4) {
			margin-top: rem(-80);
			width: 3.75rem;
			height: 3.75rem;
		}
		& img {
			width: 100%;
		}
	}
	// .benefit-card__title
	&__title {
		max-width: 22rem;
	}
	// .benefit-card__description
	&__description {
	}
}

.news {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .news__container
	&__container {
	}
	// .news__title
	&__title {
	}
	// .news__slider
	&__slider {
		position: relative;
		.swiper {
			overflow: visible;
		}
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
		}
	}
	// .news__controls
	&__controls {
	}
	// .news__prev
	&__prev {
	}
	// .news__next
	&__next {
	}
	// .news__pagination
	&__pagination {
	}
	// .news__btn
	&__btn {
		display: flex;
		margin-inline: auto;
		width: fit-content;
		margin-top: 1rem;
		min-width: rem(160);
		@media (min-width: $md4) {
			min-width: rem(180);
			margin-top: rem(40);
		}
	}
}

.news-card {
	border-radius: 1.25rem;
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 1.25rem;

	&.swiper-slide {
		height: auto;
	}
	// .news-card__poster
	&__poster {
		border-radius: 1.25rem;
		overflow: hidden;
		height: 10.3125rem;
		@media (min-width: $md4) {
			height: 15rem;
		}
		& img {
			transition: transform 0.3s ease-out;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.25);
				}
			}
		}
	}
	// .news-card__time
	&__time {
		color: #a7a8aa;
		line-height: 125%;
		display: flex;
		align-items: center;
		gap: 0.3125rem;
		margin-top: 0.625rem;
		font-size: 0.75rem;
		@media (min-width: $md4) {
			font-size: 0.875rem;
			margin-top: 1.25rem;
		}
		&::before {
			width: 0.9375rem;
			height: 0.9375rem;
			font-size: 0.9375rem;
			@media (min-width: $md4) {
				font-size: 1.125rem;
				width: 1.125rem;
				height: 1.125rem;
			}
		}
	}
	// .news-card__title
	&__title {
		transition: color 0.3s ease;
		margin-top: 0.625rem;
		@media (min-width: $md4) {
			margin-top: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orange;
			}
		}
	}
	// .news-card__description
	&__description {
		margin-top: 0.625rem;
		overflow: hidden;
		color: #63666a;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-line-clamp: 3;
		line-height: 125%;
		margin-bottom: auto;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
	}
	// .news-card__more
	&__more {
		margin-top: 0.625rem;
		@media (min-width: $md4) {
			margin-top: 1.25rem;
		}
	}
}
