:root {
	--swiper-pagination-bottom: #{rem(12)};
	@media (min-width: $md4) {
		--swiper-pagination-bottom: #{rem(42)};
	}
}

// * {
// 	scroll-margin-top: 4rem;
// 	@media (min-width: $md3) {
// 		scroll-margin-top: 5rem;
// 	}
// 	@media (min-width: $md2) {
// 		scroll-margin-top: 7rem;
// 	}
// }

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	margin-right: 0 !important;
	background: #f9f9f9;

	// &.catalog-lock {
	// 	overflow: hidden;
	// 	position: relative;
	// 	.wrapper {
	// 		&::before {
	// 			content: "";
	// 			position: absolute;
	// 			top: 0;
	// 			left: 0;
	// 			width: 100%;
	// 			height: 100%;
	// 			background: rgba($color: #000, $alpha: 0.6);
	// 			z-index: 7;
	// 			cursor: pointer;
	// 		}
	// 	}
	// }
	// &.menu-lock {
	// 	overflow: hidden;
	// 	position: relative;
	// 	.wrapper {
	// 		&::before {
	// 			content: "";
	// 			position: absolute;
	// 			top: 0;
	// 			left: 0;
	// 			width: 100%;
	// 			height: 100%;
	// 			background: rgba($color: #000, $alpha: 0.6);
	// 			z-index: 6;
	// 			cursor: pointer;
	// 		}
	// 	}
	// 	.header {
	// 		&::before {
	// 			content: "";
	// 			position: absolute;
	// 			top: 0;
	// 			left: 0;
	// 			width: 100%;
	// 			height: 100%;
	// 			background: rgba($color: #000, $alpha: 0.6);
	// 			z-index: 6;
	// 			cursor: pointer;
	// 		}
	// 	}
	// }
	// &.lock {
	// 	overflow: hidden;
	// }
	&:has(.arrow-top.visible) {
		.notify-container {
			right: 7.5rem;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	@media (max-width: $md3) {
		overflow-x: hidden;
	}
}

.page {
	flex: 1 1 auto;
	overflow-x: clip;
	background: url("@img/decor/bg-wave.svg") 0 100% / 100% auto no-repeat;
	padding-bottom: rem(50);
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1.25rem;
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

// =============== MODULES ====================
@import "./modules/grid";
@import "./modules/popup";
// @import "./modules/breads";
// @import "./modules/animation";
// @import "./modules/pagination";
// =============== MODULES ====================

.benefits {
	padding: rem(50) 0;
	// .benefits__container
	&__container {
	}
	// .benefits__title
	&__title {
	}
	// .benefits__list
	&__list {
		margin-top: 2.5rem;
		position: relative;
		.swiper {
			overflow: visible;
		}
		@media (min-width: $md4) {
			display: grid;
			gap: 1.25rem;
			grid-template-columns: repeat(2, 1fr);
			.swiper,
			.swiper-wrapper {
				display: contents;
			}
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .benefits__controls
	&__controls {
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .benefits__prev
	&__prev {
	}
	// .benefits__next
	&__next {
	}
	// .benefits__pagination
	&__pagination {
	}
}

.benefit-card {
	height: auto;
	display: flex;
	flex-direction: column;
	// .benefit-card__body
	&__body {
		margin-top: rem(32);
		border-radius: 1.25rem;
		background: #fff;
		box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.05);
		padding: rem(50) rem(20);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: rem(20);
		flex: 1 1 auto;
	}
	// .benefit-card__icon
	&__icon {
		margin-top: rem(-80);
		width: 3.75rem;
		height: 3.75rem;
		background: $orange;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.625rem;
		& img {
			width: 100%;
		}
	}

	// .benefit-card__title
	&__title {
		max-width: 22rem;
	}

	// .benefit-card__description
	&__description {
	}
}

.news {
	padding: rem(50) 0;
	// .news__container
	&__container {
	}
	// .news__title
	&__title {
	}
	// .news__slider
	&__slider {
		margin-top: 2.5rem;
		position: relative;
	}
	// .news__controls
	&__controls {
	}
	// .news__prev
	&__prev {
	}
	// .news__next
	&__next {
	}
	// .news__pagination
	&__pagination {
	}
	// .news__btn
	&__btn {
		margin-top: rem(40);
		min-width: rem(180);
		display: flex;
		margin-inline: auto;
		width: fit-content;
	}
}

.news-card {
	border-radius: 1.25rem;
	background: #fff;
	padding: 1.25rem;
	display: flex;
	flex-direction: column;

	&.swiper-slide {
		height: auto;
		width: rem(330);
	}
	// .news-card__poster
	&__poster {
		border-radius: 1.25rem;
		overflow: hidden;
		height: 15rem;
		& img {
			transition: transform 0.3s ease-out;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.25);
				}
			}
		}
	}
	// .news-card__time
	&__time {
		margin-top: 1.25rem;
		color: #a7a8aa;
		font-size: 0.875rem;
		line-height: 125%;
		display: flex;
		align-items: center;
		gap: 0.3125rem;
		&::before {
			font-size: 1.125rem;
			width: 1.125rem;
			height: 1.125rem;
		}
	}
	// .news-card__title
	&__title {
		margin-top: 1.25rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $orange;
			}
		}
	}
	// .news-card__description
	&__description {
		margin-top: 0.625rem;
		overflow: hidden;
		color: #63666a;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-line-clamp: 3;
		font-size: 1rem;
		line-height: 125%;
		margin-bottom: auto;
	}
	// .news-card__more
	&__more {
		margin-top: 1.25rem;
	}
}
