:root {
	--swiper-pagination-bottom: #{rem(12)};
	@media (min-width: $md4) {
		--swiper-pagination-bottom: #{rem(42)};
	}
}

// * {
// 	scroll-margin-top: 4rem;
// 	@media (min-width: $md3) {
// 		scroll-margin-top: 5rem;
// 	}
// 	@media (min-width: $md2) {
// 		scroll-margin-top: 7rem;
// 	}
// }

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	margin-right: 0 !important;
	background: #f9f9f9;

	&.open-person-menu {
		@media (max-width: $md4) {
			overflow: hidden;
		}
	}
	&.open-catalog-menu {
		@media (max-width: $md4) {
			overflow: hidden;
		}
	}
	&:has(.arrow-top.visible) {
		.notify-container {
			right: 6.5rem;
			@media (min-width: $md3) {
				right: 7.5rem;
			}
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.page {
	flex: 1 1 auto;
	overflow-x: hidden;
	padding-bottom: rem(25);
	@media (min-width: $md4) {
		padding-bottom: rem(50);
		&:has(.news) {
			background: url("@img/decor/bg-wave.svg") 0 100% / 100% auto no-repeat;
		}
	}
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1.25rem;
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

// =============== MODULES ====================
@import "./modules/grid";
@import "./modules/popup";
@import "./modules/breads";
@import "./modules/pagination";
@import "./modules/filters";
// @import "./modules/animation";
// =============== MODULES ====================

.benefits {
	padding: rem(25) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .benefits__container
	&__container {
	}
	// .benefits__title
	&__title {
	}
	// .benefits__list
	&__list {
		margin-top: 1.25rem;
		position: relative;
		.swiper {
			overflow: visible;
		}
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			display: grid;
			gap: 1.25rem;
			grid-template-columns: repeat(2, 1fr);
			.swiper,
			.swiper-wrapper {
				display: contents;
			}
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .benefits__controls
	&__controls {
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .benefits__prev
	&__prev {
	}
	// .benefits__next
	&__next {
	}
	// .benefits__pagination
	&__pagination {
	}
}

.benefit-card {
	height: auto;
	display: flex;
	flex-direction: column;
	// .benefit-card__body
	&__body {
		border-radius: 1.25rem;
		background: #fff;
		box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.05);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex: 1 1 auto;
		margin-top: rem(25);
		padding: rem(55) rem(20) rem(20);
		gap: rem(14);
		@media (min-width: $md4) {
			gap: rem(20);
			padding: rem(50) rem(20);
			margin-top: rem(32);
		}
	}
	// .benefit-card__icon
	&__icon {
		background: $orange;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.625rem;
		width: rem(50);
		height: rem(50);
		margin-top: rem(-75);
		@media (min-width: $md4) {
			margin-top: rem(-80);
			width: 3.75rem;
			height: 3.75rem;
		}
		& img {
			width: 100%;
		}
	}
	// .benefit-card__title
	&__title {
		max-width: 22rem;
	}
	// .benefit-card__description
	&__description {
	}
}
