@font-face {
								font-family: 'icons';
								font-display: swap;
								src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: 'RussoOne';
								font-display: swap;
								src: url("../fonts/RussoOne-Regular.woff2") format("woff2"), url("../fonts/RussoOne-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: 'Roboto';
								src: url("../fonts/Roboto-VariableFont_wdth,wght.woff2") format("woff2 supports variations"),
									url("../fonts/Roboto-VariableFont_wdth,wght.woff2") format("woff2-variations"),
									url("../fonts/Roboto-VariableFont_wdth,wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
