.footer {
	margin-top: rem(50);
	background: #202020;
	color: #fff;
	padding: 2.5rem 0;
	// .footer__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	// .footer__logo
	&__logo {
	}
	// .footer__menu
	&__menu {
	}
	// .footer__menu-list
	&__menu-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.75rem;
	}
	// .footer__menu-item
	&__menu-item {
		min-width: rem(220);
	}
	// .footer__menu-link
	&__menu-link {
		color: #a7a8aa;
		font-size: 1rem;
		font-weight: 500;
		line-height: 125%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .footer__socials
	&__socials {
		display: flex;
		gap: 1.25rem;
	}
	// .footer__social
	&__social {
		transition: transform 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.15);
			}
		}
	}
	// .footer__callback
	&__callback {
	}
	// .footer__bottom
	&__bottom {
		margin-top: 2.5rem;
		padding-top: 2.5rem;
		border-top: rem(1) solid #2c2c2c;
		text-align: center;
		color: #63666a;
		text-align: center;
		font-size: 1rem;
		line-height: 125%;
	}
	// .footer__copyright
	&__copyright {
	}
}
