.form {
	// .form__field
	&__field {
		position: relative;
		display: block;
		&._error {
			.form__control {
			}
		}
	}

	// .form__label
	&__label {
		font-size: 1rem;
		line-height: 125%;
		margin-bottom: 0.31rem;
	}

	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease, color 0.3s ease;
		width: 100%;
		border-radius: 0;
		background: transparent;
		color: $black;
		border-radius: 0.625rem;
		border: rem(1) solid #a7a8aa;
		background: #fff;
		color: $black;
		font-size: 1rem;

		line-height: 125%;
		padding: rem(12) 1.25rem;
		@media (min-width: $md4) {
			padding: 0.9375rem 1.25rem;
		}
		&::placeholder {
			color: #a7a8aa;
			opacity: 1;
		}
		&:hover,
		&:focus {
			border-color: #ea7600;
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			border: rem(1) solid #ed3939;
		}
		&:is(textarea) {
			height: 7.5rem;
			resize: none;
		}
	}
	// .form__error-message
	&__error-message {
		margin-top: 0.125rem;
		color: #ed3939;
		font-size: 0.75rem;
		line-height: 125%;
		display: none;
	}

	&__submit {
		&.btn {
			align-self: center;
			min-width: 11.25rem;
			width: fit-content;
			display: flex;
			margin-inline: auto;
		}
	}

	// .form__file
	&__file {
		width: 100%;
	}
	// .form__file-input
	&__file-input {
	}
	// .form__file-btn
	&__file-btn {
		border-radius: 0.625rem;
		border: 1px dashed #ea7600;
		background: #fff5eb;
		display: flex;
		align-items: center;
		gap: rem(3);
		padding: 1.25rem;
		color: #ea7600;
		font-size: 1rem;
		line-height: 125%;
		cursor: pointer;
		&::before {
			width: 1.25rem;
			height: 1.25rem;
			font-size: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
		}
	}
}

.checkbox {
	// .checkbox__input
	&__input {
		&:checked {
			& ~ .checkbox__btn {
				&::before {
					background: $orange;
					border-color: $orange;
					color: #fff;
					@extend %ic, .icon-check;
				}
			}
		}
	}
	// .checkbox__btn
	&__btn {
		&::before {
			content: "";
			width: 1rem;
			height: 1rem;
			font-size: 0.75rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 0.3125rem;
			flex-shrink: 0;
			background: #fff;
			border: rem(1) solid #a7a8aa;
			transition: all 0.1s ease;
		}
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

	text-align: center;
	gap: 0.3125rem;
	font-size: 1rem;
	font-weight: 500;
	line-height: 125%;
	border-radius: 0.625rem;

	padding: rem(13) 1.25rem;
	@media (min-width: $md4) {
		padding: 0.9375rem 1.25rem;
	}
	&::before {
		font-size: 1.25rem;
		width: 1.25rem;
		height: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&:focus-visible {
		box-shadow: 0 0 rem(1) rem(1) $black;
	}

	&.btn-primary {
		background: #ea7600;
		color: #fff;

		&:hover {
			background: #f5912b;
		}
		&:active {
			background: #f5912b;
			color: #ea7600;
		}
	}

	&.btn-secondary {
		background: #00778b;
		color: #fff;

		&:hover {
			background: #1896ab;
		}
		&:active {
			background: #1896ab;
			color: #00778b;
		}
	}

	&:disabled,
	&[aria-disabled="true"] {
		background: #efefef;
		color: #a7a8aa;
		cursor: default;
		pointer-events: none;
	}
}

@import "./modules/select";

.switcher {
	// .switcher__input
	&__input {
		&:checked {
			& + .switcher__btn {
				&::before {
					left: rem(22);
				}
				background: $pink;
			}
		}
	}
	// .switcher__btn
	&__btn {
		position: relative;
		width: rem(44);
		height: rem(24);
		border-radius: 0.75rem;
		background: #f2f4f7;
		display: block;
		cursor: pointer;
		transition: background-color 0.3s ease 0s;
		&::before {
			content: "";
			position: absolute;
			top: rem(2);
			left: rem(2);
			width: rem(20);
			transition: left 0.3s ease 0s;
			border-radius: 50%;
			background: #fff;
			filter: drop-shadow(0 rem(1) rem(2) rgba(16, 24, 40, 0.06)) drop-shadow(0 rem(1) rem(3) rgba(16, 24, 40, 0.1));
			height: calc(100% - rem(4));
		}
	}
}

.option {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	text-align: center;
	flex-shrink: 0;
	// .option__input
	&__input {
		&:checked {
			& + .option__btn {
				border: rem(1) solid $pink;
			}
		}
	}
	// .option__btn
	&__btn {
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		color: #181d27;
		text-align: center;
		text-overflow: ellipsis;
		font-size: 1.125rem;
		font-weight: 500;
		border-radius: 0.5rem;
		border: rem(1) solid #e9eaeb;
		user-select: none;
		cursor: pointer;
		transition: border-color 0.3s ease;
	}
	// .option__text
	&__text {
		font-size: 0.875rem;
		min-height: 1.25rem;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
	}
}

// .iti__selected-flag {
// 	background-color: rgba(0, 0, 0, 0.05);
// }

// .select {
// 	position: relative;
// 	& select {
// 		appearance: none;
// 		background: transparent;
// 		border: rem(1) solid $yellow;
// 		border-radius: rem(6);
// 		color: $white;
// 		font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
// 			"Segoe UI Symbol", "Noto Color Emoji";
// 		display: block;
// 		font-size: 1rem;
// 		font-weight: 500;
// 		height: 100%;
// 		outline: none;
// 		padding: 1em em(37) 1em em(23);
// 		width: 100%;
// 	}
// }
