.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $ui-index-6;
	background: $white;
	box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.1);
	&.scroll {
		.header__top {
			margin-top: rem(-40);
		}
	}
	// .header__top
	&__top {
		transition: margin-top 0.3s ease;
		background: $black;
		color: $grey;
		padding: 0.625rem 0;
	}
	// .header__top-container
	&__top-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .header__phone
	&__phone {
		display: inline-flex;
		gap: rem(5);
		align-items: center;
		transition: color 0.3s ease;
		&::before {
			width: 1.25rem;
			height: 1.25rem;
			font-size: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__body
	&__body {
		background: #fff;
		padding: 1.25rem 0;
	}
	// .header__body-container
	&__body-container {
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}
	// .header__logo
	&__logo {
		width: 13.75rem;
		flex-shrink: 0;
		& img {
			width: 100%;
		}
	}
	// .header__catalog
	&__catalog {
	}

	// .header__search
	&__search {
		flex: 1 1 auto;
	}
	// .header__actions
	&__actions {
	}
	// .header__auth-btn
	&__auth-btn {
		min-width: none;
		width: 7.5rem;
	}
}

.menu {
	// .menu__list
	&__list {
		display: flex;
		gap: 2.5rem;
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
}

.search {
	position: relative;
	// .search__form
	&__form {
		display: flex;
	}
	// .search__form-input
	&__form-input {
	}
	// .search__form-btn
	&__form-btn {
		position: absolute;
		right: 1.25rem;
		top: 50%;
		transform: translateY(-50%);
		width: 1.25rem;
		height: 1.25rem;
		font-size: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #a7a8aa;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ea7600;
			}
		}
	}
	// .search__bar
	&__bar {
		position: absolute;
		top: calc(100% + 0.625rem);
		border-radius: 1.25rem;
		background: #fff;
		width: 100%;
		padding: rem(20) 0;
		box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.1);
		opacity: 0;
		visibility: hidden;
		transform: translateY(-1.25rem);
		transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.2s ease;
		&.visible {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
	// .search__bar-block
	&__bar-block {
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	// .search__bar-caption
	&__bar-caption {
		color: #63666a;
		padding: 0 1.25rem;
	}
	// .search__bar-list
	&__bar-list {
		margin-top: 0.625rem;
	}
	// .search__bar-result
	&__bar-result {
		display: flex;
		align-items: center;
		gap: 0.625rem;
		padding: 0.625rem 1.25rem;
		transition: background-color 0.3s ease;
		&::before {
			font-size: 1.25rem;
			width: 1.25rem;
			height: 1.25rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #a7a8aa;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #efefef;
			}
		}
	}
}

.main-actions {
	display: flex;
	align-items: center;
	gap: 1.25rem;
	// .main-actions__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #63666a;
		transition: color 0.3s ease;
		&::before {
			width: 1.875rem;
			height: 1.875rem;
			font-size: 1.875rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #ea7600;
			}
		}
		// .main-actions__item--mobile
		&--mobile {
			@media (min-width: $md4) {
				display: none;
			}
		}
	}
	// .main-actions__item-text
	&__item-text {
		font-size: 0.75rem;
		line-height: 125%;
	}
}

.header-catalog {
	position: relative;
	// .header-catalog__toggler
	&__toggler {
		min-width: 11.25rem;
		border-radius: 0.3125rem;
		&.active {
			&::before {
				@extend .icon-cross;
			}
		}
	}
	// .header-catalog__list
	&__list {
		position: absolute;
		top: calc(100% + 1.25rem);
		background: #fff;
		width: rem(344);
		border-radius: 0.625rem;
		box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.1);
		opacity: 0;
		visibility: hidden;
		transform: translateY(-1.25rem);
		transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.2s ease;
		&.visible {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
	// .header-catalog__item
	&__item {
		display: flex;
		align-items: center;
		transition: background-color 0.3s ease;
		&:first-child {
			border-radius: 0.625rem 0.625rem 0 0;
		}
		&:last-child {
			border-radius: 0 0 0.625rem 0.625rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #efefef;
				.header-catalog__submenu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (any-hover: none) {
			&.open-submenu {
				background: #efefef;
				.header-catalog__submenu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		// .header-catalog__item--parent
		&--parent {
			position: relative;
		}
	}
	// .header-catalog__link
	&__link {
		font-size: 1rem;
		line-height: 125%;
		flex: 1 1 auto;
		padding: 0.625rem 1.25rem;
		align-self: stretch;
	}

	// .header-catalog__more
	&__more {
		flex-shrink: 0;
		margin-right: 1.25rem;
		color: #a7a8aa;
		width: 1.25rem;
		height: 1.25rem;
		font-size: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .header-catalog__submenu
	&__submenu {
		position: absolute;
		left: 100%;
		top: 0;
		background: #fff;
		width: 21.5rem;
		opacity: 0;
		visibility: hidden;
		padding: 0.625rem 0;
		background: #fff;
		border-radius: 0.625rem;
		box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.1);
	}
	// .header-catalog__submenu-list
	&__submenu-list {
		max-height: 20rem;
		overflow-y: auto;
	}
	// .header-catalog__submenu-item
	&__submenu-item {
	}
	// .header-catalog__submenu-link
	&__submenu-link {
		color: #202020;
		font-size: 1rem;
		line-height: 125%;
		padding: 0.625rem 1.25rem;
		display: block;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: #efefef;
			}
		}
	}
}
