.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $ui-index-6;
	background: $white;

	overflow-x: clip;
	&.scroll {
		.header__top {
			margin-top: rem(-40);
		}
	}
	// .header__top
	&__top {
		display: none;
		@media (min-width: $md4) {
			display: block;
			transition: margin-top 0.3s ease;
			background: $black;
			color: $grey;
			padding: 0.625rem 0;
		}
	}
	// .header__top-container
	&__top-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .header__phone
	&__phone {
		position: relative;
		z-index: 2;
		display: inline-flex;
		gap: rem(5);
		align-items: center;
		transition: color 0.3s ease;
		&--mobile {
			@media (min-width: $md4) {
				display: none;
			}
		}
		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.25rem;

			@media (min-width: $md4) {
				width: 1.25rem;
				height: 1.25rem;
				font-size: 1.25rem;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__body
	&__body {
		background: #fff;
		padding: rem(15) 0;
		position: relative;
		z-index: 2;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			z-index: 1;
			box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.1);
		}
		@media (min-width: $md4) {
			padding: 1.25rem 0;
		}
	}
	// .header__body-container
	&__body-container {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		@media (max-width: $md4) {
			gap: rem(15);
			max-width: 100%;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 1;
		flex-shrink: 0;
		width: 10rem;
		margin-right: auto;
		@media (min-width: $md4) {
			margin-right: 0;
		}
		@media (min-width: $md3) {
			width: 13.75rem;
		}
		& img {
			width: 100%;
		}
	}
	// .header__catalog
	&__catalog {
		order: 1;
		@media (min-width: $md4) {
			order: 0;
		}
	}

	// .header__search
	&__search {
		@media (min-width: $md4) {
			margin-left: auto;
		}
		@media (min-width: $md2) {
			flex: 1 1 auto;
			margin-left: 0;
		}
	}
	// .header__actions
	&__actions {
	}
	// .header__auth-btn
	&__auth-btn {
		display: none;
		@media (min-width: $md3) {
			display: inline-flex;
			min-width: 7.5rem;
		}
	}
}

.menu {
	// .menu__list
	&__list {
		display: flex;
		gap: 2.5rem;
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
}

.search {
	@media (min-width: $md2) {
		position: relative;
		z-index: 2;
		.container {
			display: contents;
		}
	}
	// .search__toggler
	&__toggler {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		transition: color 0.3s ease;
		&.active {
			color: $orange;
		}
		&::before {
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
			@media (min-width: $md4) {
				width: 1.875rem;
				height: 1.875rem;
				font-size: 1.875rem;
			}
		}
		@media (min-width: $md4) {
			color: #63666a;
		}
		@media (min-width: $md2) {
			display: none;
		}
	}
	// .search__toggler-text
	&__toggler-text {
		display: none;
		@media (min-width: $md4) {
			font-size: 0.75rem;
			line-height: 125%;
			display: block;
		}
	}
	// .search__content
	&__content {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 0.625rem 0;
		transition: all 0.3s ease;
		transform: translateY(-100%);
		pointer-events: none;
		.container {
			@media (max-width: $md4) {
				max-width: 100%;
			}
		}
		&.active {
			opacity: 1;
			visibility: visible;
			transform: none;
			pointer-events: all;
		}
		@media (min-width: $md2) {
			padding: 0;
			background: transparent;
			position: static;
			width: auto;
			left: auto;
			top: auto;
			opacity: 1;
			visibility: visible;
			transform: none;
			transition: none;
			pointer-events: all;
		}
	}
	// .search__form
	&__form {
		display: flex;
		position: relative;
	}
	// .search__form-input
	&__form-input {
	}
	// .search__form-btn
	&__form-btn {
		position: absolute;
		right: 1.25rem;
		top: 50%;
		transform: translateY(-50%);
		width: 1.25rem;
		height: 1.25rem;
		font-size: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #a7a8aa;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ea7600;
			}
		}
	}
	// .search__bar
	&__bar {
		position: absolute;
		top: 100%;
		left: 0;
		background: #fff;
		width: 100%;
		padding: rem(20) 0;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-1.25rem);
		transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.2s ease;
		@media (min-width: $md2) {
			box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.1);
			border-radius: 1.25rem;
			top: calc(100% + 0.625rem);
		}
		&.visible {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
	// .search__bar-block
	&__bar-block {
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	// .search__bar-caption
	&__bar-caption {
		color: #63666a;
		padding: 0 1.25rem;
	}
	// .search__bar-list
	&__bar-list {
		margin-top: 0.625rem;
	}
	// .search__bar-result
	&__bar-result {
		display: flex;
		align-items: center;
		gap: 0.625rem;
		padding: 0.625rem 1.25rem;
		transition: background-color 0.3s ease;
		&::before {
			font-size: 1.25rem;
			width: 1.25rem;
			height: 1.25rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #a7a8aa;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #efefef;
			}
		}
	}
}

.main-actions {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	position: fixed;
	bottom: 0;
	left: 0;
	gap: 0.75rem;
	width: 100%;
	background: #202020;
	box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.05);
	padding: 0.9375rem 1.25rem;
	@media (min-width: $md4) {
		gap: 1.25rem;
		position: relative;
		z-index: 1;
		background: transparent;
		box-shadow: none;
		padding: 0;
		display: flex;
		align-items: center;
		width: auto;
	}
	// .main-actions__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		transition: color 0.3s ease;
		gap: 0.125rem;
		color: #a7a8aa;
		@media (min-width: $md5) {
			gap: 0;
		}
		@media (min-width: $md4) {
			color: #63666a;
		}
		&::before {
			width: 1.5625rem;
			height: 1.5625rem;
			font-size: 1.5625rem;
			@media (min-width: $md5) {
				width: 1.875rem;
				height: 1.875rem;
				font-size: 1.875rem;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #ea7600;
			}
		}
		// .main-actions__item--mobile
		&--mobile {
			@media (min-width: $md4) {
				display: none;
			}
		}
		// .main-actions__item--tablet
		&--tablet {
			@media (min-width: $md3) {
				display: none;
			}
		}
	}
	// .main-actions__item-text
	&__item-text {
		line-height: 125%;
		font-size: 0.625rem;
		@media (min-width: $md5) {
			font-size: 0.75rem;
		}
	}
}

.header-catalog {
	position: relative;
	// .header-catalog__header
	&__header {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem(20) 0;
		border-bottom: rem(1) solid #efefef;
		margin: 0 rem(20);
		@media (min-width: $md4) {
			display: none;
		}
	}
	&__close {
		width: rem(25);
		height: rem(25);
		font-size: rem(25);
		color: #a7a8aa;
	}
	&__back {
		width: rem(25);
		height: rem(25);
		font-size: rem(25);
		color: #a7a8aa;
	}
	// .header-catalog__toggler
	&__toggler {
		&.active {
			&::before {
				color: #a7a8aa;
				@media (min-width: $md4) {
					color: inherit;
				}
				@extend .icon-cross;
			}
		}
		@media (max-width: $md4) {
			width: 1.5rem;
			height: 1.5rem;
			font-size: 0;
			border-radius: 0;
			gap: 0;
			padding: 0;
			&::before {
				width: 1.5rem;
				height: 1.5rem;
				font-size: 1.5rem;
				justify-content: center;
				display: flex;
				align-items: center;
			}
			&.btn-primary {
				background: transparent !important;
				color: $black !important;
			}
		}
		@media (min-width: $md4) {
			border-radius: 0.3125rem;
			min-width: 9rem;
		}
		@media (min-width: $md1) {
			min-width: 11.25rem;
		}
	}
	// .header-catalog__content
	&__content {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #fff;
		z-index: 9;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.2s ease;
		transform: translateX(100%);
		overflow-y: auto;
		overflow-x: hidden;
		@media (min-width: $md4) {
			position: absolute;
			box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.1);
			border-radius: 0.625rem;
			top: calc(100% + 1.25rem);
			padding: 0;
			bottom: auto;
			right: auto;
			left: auto;
			transform: translateY(-1.25rem);
			width: rem(280);
			height: auto;
			overflow-y: visible;
			overflow-x: visible;
		}
		@media (min-width: $md3) {
			width: rem(344);
		}
		&.visible {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
	&__header {
	}
	// .header-catalog__list
	&__list {
		margin-top: 0.625rem;
		@media (max-width: $md4) {
			&.submenu-opened {
				.header-catalog__item:not(.open-submenu) {
					display: none;
				}
				.header-catalog__item.open-submenu {
					background: #fff;
					.header-catalog__link,
					.header-catalog__more {
						display: none;
					}
					.header-catalog__submenu {
						display: block;
					}
				}
			}
		}
		@media (min-width: $md4) {
			margin-top: 0;
		}
	}
	// .header-catalog__item
	&__item {
		display: flex;
		transition: background-color 0.3s ease;

		&:first-child {
			border-radius: 0.625rem 0.625rem 0 0;
		}
		&:last-child {
			border-radius: 0 0 0.625rem 0.625rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #efefef;
				.header-catalog__submenu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (any-hover: none) {
			&.open-submenu {
				background: #efefef;
				.header-catalog__submenu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		// .header-catalog__item--parent
		&--parent {
			position: relative;
		}
	}
	// .header-catalog__link
	&__link {
		font-size: 1rem;
		line-height: 125%;
		flex: 1 1 auto;
		padding: 0.625rem 1.25rem;
		align-self: stretch;
	}

	// .header-catalog__more
	&__more {
		flex-shrink: 0;
		padding-right: 1.25rem;
		color: #a7a8aa;
		font-size: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .header-catalog__submenu
	&__submenu {
		display: none;
		@media (min-width: $md4) {
			display: block;
			position: absolute;
			left: 100%;
			top: 0;
			background: #fff;
			opacity: 0;
			visibility: hidden;
			padding: 0.625rem 0;
			background: #fff;
			border-radius: 0.625rem;
			box-shadow: 0 0 rem(20) 0 rgba(64, 64, 64, 0.1);
			width: rem(280);
		}
		@media (min-width: $md2) {
			width: 21.5rem;
		}
	}
	// .header-catalog__submenu-list
	&__submenu-list {
		max-height: 20rem;
		overflow-y: auto;
	}
	// .header-catalog__submenu-item
	&__submenu-item {
	}
	// .header-catalog__submenu-link
	&__submenu-link {
		color: #202020;
		font-size: 1rem;
		line-height: 125%;
		padding: 0.625rem 1.25rem;
		display: block;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: #efefef;
			}
		}
	}
}
