%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-grid:before {
	content: "\e919";
}
.icon-arrows:before {
	content: "\e900";
}
.icon-burger:before {
	content: "\e901";
}
.icon-cart:before {
	content: "\e902";
}
.icon-check:before {
	content: "\e903";
}
.icon-chevron-down:before {
	content: "\e904";
}
.icon-compare:before {
	content: "\e905";
}
.icon-cross:before {
	content: "\e906";
}
.icon-envelope:before {
	content: "\e907";
}
.icon-file:before {
	content: "\e908";
}
.icon-heart:before {
	content: "\e909";
}
.icon-icon-telegram:before {
	content: "\e90a";
}
.icon-location:before {
	content: "\e90b";
}
.icon-minus:before {
	content: "\e90c";
}
.icon-calendar:before {
	content: "\e90d";
}
.icon-next:before {
	content: "\e90e";
}
.icon-phone:before {
	content: "\e90f";
}
.icon-plus:before {
	content: "\e910";
}
.icon-prev:before {
	content: "\e911";
}
.icon-right:before {
	content: "\e912";
}
.icon-search:before {
	content: "\e913";
}
.icon-share:before {
	content: "\e914";
}
.icon-skype:before {
	content: "\e915";
}
.icon-star:before {
	content: "\e916";
}
.icon-star-circle:before {
	content: "\e917";
}
.icon-user:before {
	content: "\e918";
}
