// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Roboto";
$font-russo: "RussoOne";

// Шрифт по умолчанию

$md1: 1419.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1380); // Максимальная ширина ограничивающего контейнера

// ЦВЕТА

$orange: #ea7600;
$blue: #00778b;
$pink: #ff7dbc;
$black: #202020;
$grey: #a7a8aa;
$white: #fff;

$header: var(--header-height, 11.375rem);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "modules/catalog";
@import "modules/range-slider";
@import "footer";

//=======================================

// СТИЛИ СТРАНИЦ

@import "pages/home";
@import "pages/products";
@import "pages/contacts";
@import "pages/error";
@import "pages/article";
@import "pages/promotions";
@import "pages/archive";
@import "pages/blog";
@import "pages/category";
@import "pages/product-card";
@import "pages/lk";
