// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Roboto";
$font-russo: "RussoOne";

// Шрифт по умолчанию

$md1: 1419.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1380); // Максимальная ширина ограничивающего контейнера

// ЦВЕТА

$orange: #ea7600;
$blue: #00778b;
$pink: #ff7dbc;
$black: #202020;
$grey: #a7a8aa;
$white: #fff;

$header: var(--header-height, 11.375rem);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "modules/catalog";
@import "modules/range-slider";
@import "footer";

//=======================================

// СТИЛИ СТРАНИЦ

@import "pages/home";
@import "pages/products";

.typography-block {
	.sm-size {
		font-size: 1rem;
	}
	& p {
		&:not(:first-child) {
			margin-top: 0.75rem;
		}
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
		line-height: 150%;
		font-size: 1rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
	}

	& img {
		width: fit-content;
		&:not(:first-child) {
			margin-top: 1rem;
		}
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	& ul {
		line-height: 150%;
		padding-left: 1em;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
		& li {
			padding-left: 1.25em;
			position: relative;
			&:has(h4) {
				padding-left: 0;
				&::before {
					display: none;
				}
				&::after {
					display: none;
				}
				& h4 {
					position: relative;
					padding-left: 1.25em;
					&:not(:last-child) {
						margin-bottom: rem(8);
					}
					&::before {
						content: "";
						position: absolute;
						top: rem(5);
						left: 0;
						width: rem(12);
						height: rem(12);
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Ccircle cx='6' cy='6' r='5.5' stroke='%23D21E44'/%3E%3Ccircle cx='5.9999' cy='6.00039' r='3.6' fill='%23D21E44'/%3E%3C/svg%3E");
					}
				}
				& p {
					&:not(:first-child) {
						margin-top: rem(8);
					}
				}
				& p,
				& ul {
					font-size: 1rem;
				}
			}
			&::before {
				content: "";
				position: absolute;
				top: rem(7);
				left: 0;
				width: rem(12);
				height: rem(12);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Ccircle cx='6' cy='6' r='5.5' stroke='%23D21E44'/%3E%3Ccircle cx='5.9999' cy='6.00039' r='3.6' fill='%23D21E44'/%3E%3C/svg%3E");
			}

			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
	}

	& a {
		&:not([class]) {
			color: $orange;
			text-decoration: underline;
			transition: color 0.2s ease;
			&:hover {
				color: darken($orange, 10%);
				text-decoration: none;
			}
		}
	}

	& strong,
	& b {
		font-weight: 700;
		color: inherit;
	}

	& em,
	& i {
		font-style: italic;
		color: inherit;
	}

	& hr {
		border: none;
		border-top: 1px solid #ccc;
		margin: 2rem 0;
	}

	& blockquote {
		margin: 1.5rem 0;
		padding-left: 1.5rem;
		border-left: rem(4) solid #70c700;
		font-style: italic;
		color: #555;
		& p {
			margin: 0;
			font-size: 0.875rem;
			@media (min-width: $md4) {
				font-size: 1rem;
			}
			@media (min-width: $md2) {
				font-size: 1.125rem;
			}
		}
	}
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		& a {
			text-decoration: none;
			color: inherit;
			display: inline-flex;
			gap: 1rem;
			align-items: center;
			&::before {
				order: 1;
				color: $orange;
				transition: transform 0.3s ease;
			}
			@media (any-hover: hover) {
				&:hover {
					color: $orange;
					&::before {
						transform: translateX(0.5rem);
					}
				}
			}
		}
	}

	& h1 {
		&:not(:last-child) {
			margin-bottom: 0.75rem;
			@media (min-width: $md4) {
				margin-bottom: 1rem;
			}
		}
		font-weight: 700;
		line-height: 120%;
		font-size: 1.5rem;
		@media (min-width: $md4) {
			font-size: 1.75rem;
		}
	}

	& h2 {
		&:not(:first-child) {
			margin-top: 0.75rem;
			@media (min-width: $md4) {
				margin-top: 1.5rem;
			}
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
			@media (min-width: $md4) {
				margin-bottom: 1.5rem;
			}
		}
		font-weight: 500;
		line-height: 120%;
		font-size: 1.25rem;
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
	}

	& h3 {
		&:not(:first-child) {
			margin-top: 1rem;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		font-weight: 500;
		line-height: 120%;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}

	& h4 {
		&:not(:first-child) {
			margin-top: 1rem;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		font-weight: 600;
		line-height: 130%;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
	}

	& h5,
	& h6 {
		&:not(:first-child) {
			margin-top: 1rem;
		}
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
		font-size: 1rem;
		font-weight: 600;
		line-height: 140%;
	}

	& ol {
		font-size: 1.125rem;
		line-height: 150%;
		padding-left: 1.5rem;
		list-style: decimal;
		& li {
			& h4 {
				& ~ * {
					margin-left: -1.25rem;
				}
				&:not(:last-child) {
					margin-bottom: rem(8);
				}
			}
			&:has(h4) {
				& p {
					&:not(:first-child) {
						margin-top: rem(8);
					}
				}
				& p,
				& ul {
					font-size: 1rem;
				}
			}
			&::marker {
				color: $orange;
				font-weight: 500;
			}
			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
	}
}
