// =============== MODULES ====================
@import "./modules/notify";

// =============== MODULES ====================

.color-accent {
	color: $orange;
}

.color-grey {
	color: #a7a8aa;
}

.color-red {
	color: #f04438;
}

.title-xxl {
	font-family: $font-russo;
	line-height: 100%;
	text-transform: uppercase;
	font-size: 2rem;
	@media (min-width: $md4) {
		font-size: 3rem;
	}
	@media (min-width: $md2) {
		font-size: 3.75rem;
	}
	@media (min-width: $md1) {
		font-size: 4rem;
	}
}

.title {
	font-family: $font-russo;
	line-height: 125%;
	text-transform: uppercase;
	font-size: 1.75rem;
	@media (min-width: $md5) {
		font-size: 2rem;
	}
	@media (min-width: $md4) {
		font-size: 2.25rem;
	}
}

.title-md {
	font-family: $font-russo;
	line-height: 125%;
	text-transform: uppercase;
	font-size: 1.25rem;
	@media (min-width: $md4) {
		font-size: 1.75rem;
	}
}

.title-sm {
	font-family: $font-russo;
	line-height: 125%;
	text-transform: uppercase;
	font-size: 1rem;
	@media (min-width: $md4) {
		font-size: 1.25rem;
	}
}

.title-xs {
	font-family: $font-russo;
	font-size: 0.875rem;
	line-height: 125%;
	text-transform: uppercase;
}

.desktop-only {
	@media (max-width: $md2) {
		display: none;
	}
}

.mobile-only {
	@media (min-width: $md5) {
		display: none !important;
	}
}

.text-left {
	text-align: left;
}

.swiper-button-next,
.swiper-button-prev {
	&::after {
		display: none;
	}

	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;
	width: 1.875rem;
	height: 1.875rem;
	font-size: 1.5rem;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	color: #63666a;
	box-shadow: 0 0 rem(10) 0 rgba(64, 64, 64, 0.05);
	border-radius: 50%;
	@media (min-width: $md4) {
		width: 2.5rem;
		height: 2.5rem;
	}

	&.swiper-button-lock {
		display: none;
	}

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		display: none;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $orange;
			color: #fff;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-prev;
	left: rem(-15);
	@media (min-width: $md4) {
		left: rem(-20);
	}
}

.swiper-button-next {
	@extend %ic, .icon-next;
	right: rem(-15);
	@media (min-width: $md4) {
		right: rem(-20);
	}
}

.swiper-pagination {
	&.swiper-pagination-bullets {
		position: static;
		margin: auto;
		margin-top: 1rem;
		width: auto;
		.swiper-pagination-bullet {
			width: 0.625rem;
			height: 0.625rem;
			background: #efefef;
			opacity: 1;
			margin: 0 rem(2.5);
			&.swiper-pagination-bullet-active {
				opacity: 1;
				background: $orange;
			}
		}
	}
}

.favorite-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #a7a8aa;
	cursor: pointer;
	user-select: none;
	width: 1.5625rem;
	height: 1.5625rem;
	font-size: 1.5rem;
	.product.product--small & {
		width: 1.5625rem;
		height: 1.5625rem;
		font-size: 1.5rem;
	}
	@media (min-width: $md4) {
		font-size: 2rem;
		width: 2.1875rem;
		height: 2.1875rem;
	}
	&.active {
		&::before {
			color: #b61d1d;
			animation: pulse 0.3s ease-in-out;
			@keyframes pulse {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.4);
				}
				100% {
					transform: scale(1);
				}
			}
		}
	}
	@media (any-hover: hover) {
		&:hover {
			color: #00778b;
		}
	}
}

.compare-btn,
.setting-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #a7a8aa;
	cursor: pointer;
	user-select: none;
	transition: color 0.3s ease;
	width: 1.5625rem;
	height: 1.5625rem;
	font-size: 1.5rem;
	.product.product--small & {
		width: 1.5625rem;
		height: 1.5625rem;
		font-size: 1.5rem;
	}
	@media (min-width: $md4) {
		font-size: 2rem;
		width: 2.1875rem;
		height: 2.1875rem;
	}
	&.active {
		color: #00778b;
	}

	@media (any-hover: hover) {
		&:hover {
			color: #00778b;
		}
	}
}

// .loader {
// 	margin-top: rem(32);
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	gap: 1rem;
// 	@media (min-width: $md4) {
// 		display: none;
// 	}
// 	// .loader__indicator
// 	&__indicator {
// 		animation: infiniteRotate 3s linear infinite reverse;
// 		-webkit-mask-image: conic-gradient(from 259deg, #000 0deg, rgba(0, 0, 0, 0) 331.875deg, rgba(0, 0, 0, 0) 360deg);
// 		mask-image: conic-gradient(from 259deg, #000 0deg, rgba(0, 0, 0, 0) 331.875deg, rgba(0, 0, 0, 0) 360deg);
// 	}
// 	// .loader__text
// 	&__text {
// 		font-size: 1.125rem;
// 		font-weight: 500;
// 		line-height: 133.333%;
// 	}
// }

.cart-btn {
	border-radius: 0.5rem;
	background: #ff7dbc;
	min-height: 3rem;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.37rem;
	padding: 0.75rem;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	&::before {
		font-size: 1.5rem;
		order: 1;
	}

	&.active {
		background: #98ff3c;
	}
	&:not(.active) {
		&:hover,
		&:active {
			background: #ff91c6;
			box-shadow: rem(6) rem(6) rem(12) 0 rgba(0, 0, 0, 0.22);
		}
	}
	& span {
		font-weight: 600;
		font-size: 1rem;
		line-height: 150%;
		text-transform: uppercase;
	}
}

.copy-btn {
	color: #1570ef;
	font-size: 1.125rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	&::before {
		order: 1;
		width: 1.25rem;
		height: 1.25rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.quantity-block {
	display: flex;

	background: #fff;
	border-radius: 0.625rem;
	flex-shrink: 0;

	overflow: hidden;
	&.quantity-block--small {
		width: rem(105);
	}
	&.quantity-block--large {
		width: rem(175);
		.quantity-block__up,
		.quantity-block__down {
			width: rem(50);
			height: rem(50);
		}
		.quantity-block__input {
			height: rem(50);
		}
	}
	&.quantity-block--large-desktop {
		@media (min-width: $md4) {
			width: rem(175);
			.quantity-block__up,
			.quantity-block__down {
				width: rem(50);
				height: rem(50);
			}
			.quantity-block__input {
				height: rem(50);
			}
		}
	}
	width: rem(105);
	@media (min-width: $md4) {
		width: rem(140);
	}
	// .quantity-block__up
	// .quantity-block__down
	&__up,
	&__down {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #efefef;
		transition: background-color 0.3s ease, color 0.3s ease;
		.quantity-block.quantity-block--small & {
			width: rem(30);
			height: rem(30);
		}
		width: rem(30);
		height: rem(30);
		font-size: 1.125rem;
		@media (min-width: $md4) {
			font-size: 1.5rem;
			width: 2.5rem;
			height: 2.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $orange;
				color: #fff;
			}
		}
	}
	// .quantity-block__down
	&__down {
	}
	// .quantity-block__up
	&__up {
	}
	// .quantity-block__input
	&__input {
		border-top: rem(1) solid #efefef;
		border-bottom: rem(1) solid #efefef;
		text-align: center;
		width: 100%;
		color: #202020;
		font-weight: 500;
		line-height: 125%;
		flex: 1 1 auto;
		.quantity-block.quantity-block--small & {
			height: rem(30);
			font-size: 0.875rem;
		}
		height: rem(30);
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
			height: 2.5rem;
		}
	}
}

.switch {
	border-radius: 0.75rem;
	background: #000;
	color: #fff;
	padding: 0.25rem;
	display: inline-flex;
	gap: 0.25rem;
	// .switch__item
	&__item {
		display: block;
		position: relative;
		z-index: 2;
	}
	// .switch__item-input
	&__item-input {
		&:checked {
			& + .switch__item-btn {
				background: #ff7dbc;
				color: #181d27;
			}
		}
	}
	// .switch__item-btn
	&__item-btn {
		font-size: 1.125rem;
		line-height: 144.444%;
		border-radius: 0.5rem;
		display: block;
		cursor: pointer;
		transition: color 0.3s ease, background-color 0.3s ease;
		padding: 0.25rem 0.5rem;
		@media (min-width: $md4) {
			padding: 0.375rem 0.75rem;
		}
	}
}

.more-link {
	color: #ea7600;
	display: inline-flex;
	align-items: center;
	gap: 0.1875rem;
	font-size: 1rem;
	font-weight: 500;
	line-height: 125%;
	&::before {
		order: 1;
		width: 1.25rem;
		height: 1.25rem;
		font-size: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		transition: transform 0.3s ease;
	}
	@media (any-hover: hover) {
		&:hover {
			&::before {
				transform: translateX(0.5rem);
			}
		}
	}
}

.arrow-top {
	display: flex;

	padding: 0.75rem;
	justify-content: center;
	align-items: center;
	position: fixed;
	border-radius: 50%;
	background: #ea7600;
	color: #fff;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;

	bottom: 5.5rem;
	right: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.5rem;
	@media (min-width: $md5) {
		font-size: 1.75rem;
		width: 3rem;
		height: 3rem;
	}
	@media (min-width: $md4) {
		width: 3.75rem;
		height: 3.75rem;
		font-size: 2.25rem;
		bottom: 1.5rem;
		right: 1.5rem;
	}
	@media (min-width: $md3) {
		bottom: 2.5rem;
		right: 2.5rem;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
	}
	&:hover {
		background-color: #f5912b;
	}
	&:active {
		background-color: #f5912b;
		color: #ea7600;
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $orange;

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: darken($color: $scrollbarColor, $amount: 10);
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
